.rounded { border-radius: var(--radius-md); }
.rounded-xs { border-radius: var(--radius-xs); }
.rounded-sm { border-radius: var(--radius-sm); }
.rounded-md { border-radius: var(--radius-md); }
.rounded-lg { border-radius: var(--radius-lg); }
.rounded-xl { border-radius: var(--radius-xl); }
.rounded-50p { border-radius: 50%; }
.rounded-full { border-radius: var(--radius-pull); }
.rounded-0 { border-radius: 0; }

.rounded-t { border-top-left-radius: var(--radius-md); border-top-right-radius: var(--radius-md); }
.rounded-t-xs { border-top-left-radius: var(--radius-xs); border-top-right-radius: var(--radius-xs); }
.rounded-t-sm { border-top-left-radius: var(--radius-sm); border-top-right-radius: var(--radius-sm); }
.rounded-t-md { border-top-left-radius: var(--radius-md); border-top-right-radius: var(--radius-md); }
.rounded-t-lg { border-top-left-radius: var(--radius-lg); border-top-right-radius: var(--radius-lg); }
.rounded-t-xl { border-top-left-radius: var(--radius-xl); border-top-right-radius: var(--radius-xl); }
.rounded-t-50p { border-top-left-radius: 50%; border-top-right-radius: 50%; }
.rounded-t-full { border-top-left-radius: var(--radius-pull); border-top-right-radius: var(--radius-pull); }
.rounded-t-0 { border-top-left-radius: 0; border-top-right-radius: 0; }

.rounded-b { border-bottom-left-radius: var(--radius-md); border-bottom-right-radius: var(--radius-md); }
.rounded-b-xs { border-bottom-left-radius: var(--radius-xs); border-bottom-right-radius: var(--radius-xs); }
.rounded-b-sm { border-bottom-left-radius: var(--radius-sm); border-bottom-right-radius: var(--radius-sm); }
.rounded-b-md { border-bottom-left-radius: var(--radius-md); border-bottom-right-radius: var(--radius-md); }
.rounded-b-lg { border-bottom-left-radius: var(--radius-lg); border-bottom-right-radius: var(--radius-lg); }
.rounded-b-xl { border-bottom-left-radius: var(--radius-xl); border-bottom-right-radius: var(--radius-xl); }
.rounded-b-50p { border-bottom-left-radius: 50%; border-bottom-right-radius: 50%; }
.rounded-b-full { border-bottom-left-radius: var(--radius-pull); border-bottom-right-radius: var(--radius-pull); }
.rounded-b-0 { border-bottom-left-radius: 0; border-bottom-right-radius: 0; }

.rounded-l { border-top-left-radius: var(--radius-md); border-bottom-left-radius: var(--radius-md); }
.rounded-l-xs { border-top-left-radius: var(--radius-xs); border-bottom-left-radius: var(--radius-xs); }
.rounded-l-sm { border-top-left-radius: var(--radius-sm); border-bottom-left-radius: var(--radius-sm); }
.rounded-l-md { border-top-left-radius: var(--radius-md); border-bottom-left-radius: var(--radius-md); }
.rounded-l-lg { border-top-left-radius: var(--radius-lg); border-bottom-left-radius: var(--radius-lg); }
.rounded-l-xl { border-top-left-radius: var(--radius-xl); border-bottom-left-radius: var(--radius-xl); }
.rounded-l-50p { border-top-left-radius: 50%; border-bottom-left-radius: 50%; }
.rounded-l-full { border-top-left-radius: var(--radius-pull); border-bottom-left-radius: var(--radius-pull); }
.rounded-l-0 { border-top-left-radius: 0; border-bottom-left-radius: 0; }

.rounded-r { border-top-right-radius: var(--radius-md); border-bottom-right-radius: var(--radius-md); }
.rounded-r-xs { border-top-right-radius: var(--radius-xs); border-bottom-right-radius: var(--radius-xs); }
.rounded-r-sm { border-top-right-radius: var(--radius-sm); border-bottom-right-radius: var(--radius-sm); }
.rounded-r-md { border-top-right-radius: var(--radius-md); border-bottom-right-radius: var(--radius-md); }
.rounded-r-lg { border-top-right-radius: var(--radius-lg); border-bottom-right-radius: var(--radius-lg); }
.rounded-r-xl { border-top-right-radius: var(--radius-xl); border-bottom-right-radius: var(--radius-xl); }
.rounded-r-50p { border-top-right-radius: 50%; border-bottom-right-radius: 50%; }
.rounded-r-full { border-top-right-radius: var(--radius-pull); border-bottom-right-radius: var(--radius-pull); }
.rounded-r-0 { border-top-right-radius: 0; border-bottom-right-radius: 0; }

.rounded-tl { border-top-left-radius: var(--radius-md); }
.rounded-tl-xs { border-top-left-radius: var(--radius-xs); }
.rounded-tl-sm { border-top-left-radius: var(--radius-sm); }
.rounded-tl-md { border-top-left-radius: var(--radius-md); }
.rounded-tl-lg { border-top-left-radius: var(--radius-lg); }
.rounded-tl-xl { border-top-left-radius: var(--radius-xl); }
.rounded-tl-50p { border-top-left-radius: 50%; }
.rounded-tl-full { border-top-left-radius: var(--radius-pull); }
.rounded-tl-0 { border-top-left-radius: 0; }

.rounded-tr { border-top-right-radius: var(--radius-md); }
.rounded-tr-xs { border-top-right-radius: var(--radius-xs); }
.rounded-tr-sm { border-top-right-radius: var(--radius-sm); }
.rounded-tr-md { border-top-right-radius: var(--radius-md); }
.rounded-tr-lg { border-top-right-radius: var(--radius-lg); }
.rounded-tr-xl { border-top-right-radius: var(--radius-xl); }
.rounded-tr-50p { border-top-right-radius: 50%; }
.rounded-tr-full { border-top-right-radius: var(--radius-pull); }
.rounded-tr-0 { border-top-right-radius: 0; }

.rounded-bl { border-bottom-left-radius: var(--radius-md); }
.rounded-bl-xs { border-bottom-left-radius: var(--radius-xs); }
.rounded-bl-sm { border-bottom-left-radius: var(--radius-sm); }
.rounded-bl-md { border-bottom-left-radius: var(--radius-md); }
.rounded-bl-lg { border-bottom-left-radius: var(--radius-lg); }
.rounded-bl-xl { border-bottom-left-radius: var(--radius-xl); }
.rounded-bl-50p { border-bottom-left-radius: 50%; }
.rounded-bl-full { border-bottom-left-radius: var(--radius-pull); }
.rounded-bl-0 { border-bottom-left-radius: 0; }

.rounded-br { border-bottom-right-radius: var(--radius-md); }
.rounded-br-xs { border-bottom-right-radius: var(--radius-xs); }
.rounded-br-sm { border-bottom-right-radius: var(--radius-sm); }
.rounded-br-md { border-bottom-right-radius: var(--radius-md); }
.rounded-br-lg { border-bottom-right-radius: var(--radius-lg); }
.rounded-br-xl { border-bottom-right-radius: var(--radius-xl); }
.rounded-br-50p { border-bottom-right-radius: 50%; }
.rounded-br-full { border-bottom-right-radius: var(--radius-pull); }
.rounded-br-0 { border-bottom-right-radius: 0; }
