.drop-shadow-xs,
.hover\:drop-shadow-xs:hover {
  filter: drop-shadow(0 1px 1px rgb(var(--color-shadow) / 0.05));
}

.drop-shadow,
.drop-shadow-sm,
.hover\:drop-shadow:hover,
.hover\:drop-shadow-sm:hover {
  filter: drop-shadow(0 1px 2px rgb(var(--color-shadow) / 0.1)) drop-shadow(0 1px 1px rgb(var(--color-shadow) / 0.06));
}

.drop-shadow-md,
.hover\:drop-shadow-md:hover {
  filter: drop-shadow(0 4px 3px rgb(var(--color-shadow) / 0.07)) drop-shadow(0 2px 2px rgb(var(--color-shadow) / 0.06));
}

.drop-shadow-lg,
.hover\:drop-shadow-lg:hover {
  filter: drop-shadow(0 10px 8px rgb(var(--color-shadow) / 0.04)) drop-shadow(0 4px 3px rgb(var(--color-shadow) / 0.1));
}

.drop-shadow-xl,
.hover\:drop-shadow-xl:hover {
  filter: drop-shadow(0 20px 13px rgb(var(--color-shadow) / 0.03)) drop-shadow(0 8px 5px rgb(var(--color-shadow) / 0.08));
}

.drop-shadow-2xl,
.hover\:drop-shadow-2xl:hover {
  filter: drop-shadow(0 25px 25px rgb(var(--color-shadow) / 0.15));
}

.drop-shadow-none,
.hover\:drop-shadow-none:hover {
  filter: drop-shadow(0 0 #0000);
}
