.hue-rotate-0,
.hover\:hue-rotate-0:hover {
  filter: hue-rotate(0deg);
}

.hue-rotate-15,
.hover\:hue-rotate-15:hover {
  filter: hue-rotate(15deg);
}

.hue-rotate-30,
.hover\:hue-rotate-30:hover {
  filter: hue-rotate(30deg);
}

.hue-rotate-45,
.hover\:hue-rotate-45:hover {
  filter: hue-rotate(45deg);
}

.hue-rotate-60,
.hover\:hue-rotate-60:hover {
  filter: hue-rotate(60deg);
}

.hue-rotate-75,
.hover\:hue-rotate-75:hover {
  filter: hue-rotate(75deg);
}

.hue-rotate-90,
.hover\:hue-rotate-90:hover {
  filter: hue-rotate(90deg);
}

.hue-rotate-105,
.hover\:hue-rotate-105:hover {
  filter: hue-rotate(105deg);
}

.hue-rotate-120,
.hover\:hue-rotate-120:hover {
  filter: hue-rotate(120deg);
}

.hue-rotate-135,
.hover\:hue-rotate-135:hover {
  filter: hue-rotate(135deg);
}

.hue-rotate-150,
.hover\:hue-rotate-150:hover {
  filter: hue-rotate(150deg);
}

.hue-rotate-165,
.hover\:hue-rotate-165:hover {
  filter: hue-rotate(165deg);
}

.hue-rotate-180,
.hover\:hue-rotate-180:hover {
  filter: hue-rotate(180deg);
}

.hue-rotate-195,
.hover\:hue-rotate-195:hover {
  filter: hue-rotate(195deg);
}

.hue-rotate-210,
.hover\:hue-rotate-210:hover {
  filter: hue-rotate(210deg);
}

.hue-rotate-225,
.hover\:hue-rotate-225:hover {
  filter: hue-rotate(225deg);
}

.hue-rotate-240,
.hover\:hue-rotate-240:hover {
  filter: hue-rotate(240deg);
}

.hue-rotate-255,
.hover\:hue-rotate-255:hover {
  filter: hue-rotate(255deg);
}

.hue-rotate-270,
.hover\:hue-rotate-270:hover {
  filter: hue-rotate(270deg);
}

.hue-rotate-285,
.hover\:hue-rotate-285:hover {
  filter: hue-rotate(285deg);
}

.hue-rotate-300,
.hover\:hue-rotate-300:hover {
  filter: hue-rotate(300deg);
}

.hue-rotate-315,
.hover\:hue-rotate-315:hover {
  filter: hue-rotate(315deg);
}

.hue-rotate-330,
.hover\:hue-rotate-330:hover {
  filter: hue-rotate(330deg);
}

.hue-rotate-345,
.hover\:hue-rotate-345:hover {
  filter: hue-rotate(345deg);
}

.hue-rotate-360,
.hover\:hue-rotate-360:hover {
  filter: hue-rotate(360deg);
}
