.delay-0 { animation-delay: 0ms; transition-delay: 0ms; }
.delay-50 { animation-delay: 50ms; transition-delay: 50ms; }
.delay-100 { animation-delay: 100ms; transition-delay: 100ms; }
.delay-150 { animation-delay: 150ms; transition-delay: 150ms; }
.delay-200 { animation-delay: 200ms; transition-delay: 200ms; }
.delay-300 { animation-delay: 300ms; transition-delay: 300ms; }
.delay-400 { animation-delay: 400ms; transition-delay: 400ms; }
.delay-500 { animation-delay: 500ms; transition-delay: 500ms; }
.delay-600 { animation-delay: 600ms; transition-delay: 600ms; }
.delay-700 { animation-delay: 700ms; transition-delay: 700ms; }
.delay-800 { animation-delay: 800ms; transition-delay: 800ms; }
.delay-900 { animation-delay: 900ms; transition-delay: 900ms; }
.delay-1000 { animation-delay: 1000ms; transition-delay: 1000ms; }

.delay-i0 { animation-delay: 0ms; transition-delay: 0ms; }
.delay-i1 { animation-delay: 50ms; transition-delay: 50ms; }
.delay-i2 { animation-delay: 100ms; transition-delay: 100ms; }
.delay-i3 { animation-delay: 150ms; transition-delay: 150ms; }
.delay-i4 { animation-delay: 200ms; transition-delay: 200ms; }
.delay-i5 { animation-delay: 250ms; transition-delay: 250ms; }
.delay-i6 { animation-delay: 300ms; transition-delay: 300ms; }
.delay-i7 { animation-delay: 350ms; transition-delay: 350ms; }
.delay-i8 { animation-delay: 400ms; transition-delay: 400ms; }
.delay-i9 { animation-delay: 450ms; transition-delay: 450ms; }
.delay-i10 { animation-delay: 500ms; transition-delay: 500ms; }
.delay-i11 { animation-delay: 550ms; transition-delay: 550ms; }
.delay-i12 { animation-delay: 600ms; transition-delay: 600ms; }
