.linear { animation-timing-function: linear; transition-timing-function: linear; }
.ease { animation-timing-function: ease; transition-timing-function: ease; }
.ease-in { animation-timing-function: ease-in; transition-timing-function: ease-in; }
.ease-out { animation-timing-function: ease-out; transition-timing-function: ease-out; }
.ease-in-out { animation-timing-function: ease-in-out; transition-timing-function: ease-in-out; }
.step-start { animation-timing-function: step-start; transition-timing-function: step-start; }
.step-end { animation-timing-function: step-end; transition-timing-function: step-end; }
