.animation-short {
  animation-duration: 200ms;
  animation-fill-mode: both;
}

.animation-medium {
  animation-duration: 400ms;
  animation-fill-mode: both;
}

.animation-long {
  animation-duration: 600ms;
  animation-fill-mode: both;
}

.animation-infinite {
  animation-iteration-count: infinite;
}

.animation-delay-1 { animation-delay: 50ms; }
.animation-delay-2 { animation-delay: 100ms; }
.animation-delay-3 { animation-delay: 150ms; }
.animation-delay-4 { animation-delay: 200ms; }
.animation-delay-5 { animation-delay: 250ms; }
.animation-delay-6 { animation-delay: 300ms; }
.animation-delay-7 { animation-delay: 350ms; }
.animation-delay-8 { animation-delay: 400ms; }

@keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.fade-in {
  animation-name: fade-in;
}

@keyframes fade-in-up {
  from {
    opacity: 0;
    transform: translate3d(0, 10%, 0);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

.fade-in-up {
  animation-name: fade-in-up;
}

@keyframes fade-out {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

.fade-out {
  animation-name: fade-out;
}

@keyframes fade-out-down {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }
}

.fade-out-down {
  animation-name: fade-out-down;
}
