.aspect-ratio-container {
  position: relative;
  overflow: hidden;
  height: 0;
}

.aspect-ratio-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.aspect-ratio-21x9 { padding-bottom: calc(9 / 21 * 100%); }
.aspect-ratio-9x21 { padding-bottom: calc(21 / 9 * 100%); }
.aspect-ratio-16x9 { padding-bottom: calc(9 / 16 * 100%); }
.aspect-ratio-9x16 { padding-bottom: calc(16 / 9 * 100%); }
.aspect-ratio-4x3 { padding-bottom: calc(3 / 4 * 100%); }
.aspect-ratio-3x4 { padding-bottom: calc(4 / 3 * 100%); }
.aspect-ratio-6x4 { padding-bottom: calc(4 / 6 * 100%); }
.aspect-ratio-4x6 { padding-bottom: calc(6 / 4 * 100%); }
.aspect-ratio-8x5 { padding-bottom: calc(5 / 8 * 100%); }
.aspect-ratio-5x8 { padding-bottom: calc(8 / 5 * 100%); }
.aspect-ratio-7x5 { padding-bottom: calc(5 / 7 * 100%); }
.aspect-ratio-5x7 { padding-bottom: calc(7 / 5 * 100%); }
.aspect-ratio-2x1 { padding-bottom: calc(1 / 2 * 100%); }
.aspect-ratio-1x2 { padding-bottom: calc(2 / 1 * 100%); }
.aspect-ratio-1x1 { padding-bottom: calc(1 / 1 * 100%); }
