.justify-content-around { justify-content: space-around; }
.justify-content-baseline { justify-content: baseline; }
.justify-content-between { justify-content: space-between; }
.justify-content-center { justify-content: center; }
.justify-content-end { justify-content: end; }
.justify-content-evenly { justify-content: space-evenly; }
.justify-content-flex-end { justify-content: flex-end; }
.justify-content-flex-start { justify-content: flex-start; }
.justify-content-left { justify-content: left; }
.justify-content-normal { justify-content: normal; }
.justify-content-right { justify-content: right; }
.justify-content-start { justify-content: start; }
.justify-content-stretch { justify-content: stretch; }

.justify-items-auto { justify-items: auto; }
.justify-items-baseline { justify-items: baseline; }
.justify-items-center { justify-items: center; }
.justify-items-end { justify-items: end; }
.justify-items-flex-end { justify-items: flex-end; }
.justify-items-flex-start { justify-items: flex-start; }
.justify-items-left { justify-items: left; }
.justify-items-normal { justify-items: normal; }
.justify-items-right { justify-items: right; }
.justify-items-self-end { justify-items: self-end; }
.justify-items-self-start { justify-items: self-start; }
.justify-items-start { justify-items: start; }
.justify-items-stretch { justify-items: stretch; }

.justify-self-auto { justify-self: auto; }
.justify-self-baseline { justify-self: baseline; }
.justify-self-center { justify-self: center; }
.justify-self-end { justify-self: end; }
.justify-self-flex-end { justify-self: flex-end; }
.justify-self-flex-start { justify-self: flex-start; }
.justify-self-left { justify-self: left; }
.justify-self-normal { justify-self: normal; }
.justify-self-right { justify-self: right; }
.justify-self-self-end { justify-self: self-end; }
.justify-self-self-start { justify-self: self-start; }
.justify-self-start { justify-self: start; }
.justify-self-stretch { justify-self: stretch; }

.align-content-around { align-content: space-around; }
.align-content-between { align-content: space-between; }
.align-content-center { align-content: center; }
.align-content-end { align-content: flex-end; }
.align-content-start { align-content: flex-start; }
.align-content-stretch { align-content: stretch; }

.align-items-baseline { align-items: baseline; }
.align-items-center { align-items: center; }
.align-items-end { align-items: flex-end; }
.align-items-start { align-items: flex-start; }
.align-items-stretch { align-items: stretch; }

.align-self-auto { align-self: auto; }
.align-self-baseline { align-self: baseline; }
.align-self-center { align-self: center; }
.align-self-end { align-self: flex-end; }
.align-self-start { align-self: flex-start; }
.align-self-stretch { align-self: stretch; }
