.color-inherit,
.color-inherit:visited { color: inherit; }
.color-transparent { color: transparent; }
.color-black { color: var(--color-black, black); }
.color-white { color: var(--color-white, white); }
.color-foreground { color: var(--color-foreground); }
.color-foreground-muted { color: var(--color-foreground-muted); }
.color-foreground-subtle { color: var(--color-foreground-subtle); }
.color-background { color: var(--color-background); }
.color-surface-0 { color: var(--color-surface-0); }
.color-surface-1 { color: var(--color-surface-1); }
.color-surface-2 { color: var(--color-surface-2); }
.color-surface-3 { color: var(--color-surface-3); }
.color-surface-4 { color: var(--color-surface-4); }
.color-surface-5 { color: var(--color-surface-5); }
.color-surface-6 { color: var(--color-surface-6); }
.color-surface-7 { color: var(--color-surface-7); }
.color-surface-8 { color: var(--color-surface-8); }
.color-surface-9 { color: var(--color-surface-9); }
.color-default { color: var(--color-default); }
.color-default-emphasis { color: var(--color-default-emphasis); }
.color-default-subtle { color: var(--color-default-subtle); }
.color-primary { color: var(--color-primary); }
.color-primary-emphasis { color: var(--color-primary-emphasis); }
.color-primary-subtle { color: var(--color-primary-subtle); }
.color-secondary { color: var(--color-secondary); }
.color-secondary-emphasis { color: var(--color-secondary-emphasis); }
.color-secondary-subtle { color: var(--color-secondary-subtle); }
.color-tertiary { color: var(--color-tertiary); }
.color-tertiary-emphasis { color: var(--color-tertiary-emphasis); }
.color-tertiary-subtle { color: var(--color-tertiary-subtle); }
.color-success { color: var(--color-success); }
.color-success-emphasis { color: var(--color-success-emphasis); }
.color-success-subtle { color: var(--color-success-subtle); }
.color-danger { color: var(--color-danger); }
.color-danger-emphasis { color: var(--color-danger-emphasis); }
.color-danger-subtle { color: var(--color-danger-subtle); }
.color-warning { color: var(--color-warning); }
.color-warning-emphasis { color: var(--color-warning-emphasis); }
.color-warning-subtle { color: var(--color-warning-subtle); }
.color-info { color: var(--color-info); }
.color-info-emphasis { color: var(--color-info-emphasis); }
.color-info-subtle { color: var(--color-info-subtle); }

.bg-inherit { background-color: inherit; }
.bg-transparent { background-color: transparent; }
.bg-black { background-color: var(--color-black, black); }
.bg-white { background-color: var(--color-white, white); }
.bg-foreground { background-color: var(--color-foreground); }
.bg-foreground-muted { background-color: var(--color-foreground-muted); }
.bg-foreground-subtle { background-color: var(--color-foreground-subtle); }
.bg-background { background-color: var(--color-background); }
.bg-surface-0 { background-color: var(--color-surface-0); }
.bg-surface-1 { background-color: var(--color-surface-1); }
.bg-surface-2 { background-color: var(--color-surface-2); }
.bg-surface-3 { background-color: var(--color-surface-3); }
.bg-surface-4 { background-color: var(--color-surface-4); }
.bg-surface-5 { background-color: var(--color-surface-5); }
.bg-surface-6 { background-color: var(--color-surface-6); }
.bg-surface-7 { background-color: var(--color-surface-7); }
.bg-surface-8 { background-color: var(--color-surface-8); }
.bg-surface-9 { background-color: var(--color-surface-9); }
.bg-default { background-color: var(--color-default); }
.bg-default-emphasis { background-color: var(--color-default-emphasis); }
.bg-default-subtle { background-color: var(--color-default-subtle); }
.bg-primary { background-color: var(--color-primary); }
.bg-primary-emphasis { background-color: var(--color-primary-emphasis); }
.bg-primary-subtle { background-color: var(--color-primary-subtle); }
.bg-secondary { background-color: var(--color-secondary); }
.bg-secondary-emphasis { background-color: var(--color-secondary-emphasis); }
.bg-secondary-subtle { background-color: var(--color-secondary-subtle); }
.bg-tertiary { background-color: var(--color-tertiary); }
.bg-tertiary-emphasis { background-color: var(--color-tertiary-emphasis); }
.bg-tertiary-subtle { background-color: var(--color-tertiary-subtle); }
.bg-success { background-color: var(--color-success); }
.bg-success-emphasis { background-color: var(--color-success-emphasis); }
.bg-success-subtle { background-color: var(--color-success-subtle); }
.bg-danger { background-color: var(--color-danger); }
.bg-danger-emphasis { background-color: var(--color-danger-emphasis); }
.bg-danger-subtle { background-color: var(--color-danger-subtle); }
.bg-warning { background-color: var(--color-warning); }
.bg-warning-emphasis { background-color: var(--color-warning-emphasis); }
.bg-warning-subtle { background-color: var(--color-warning-subtle); }
.bg-info { background-color: var(--color-info); }
.bg-info-emphasis { background-color: var(--color-info-emphasis); }
.bg-info-subtle { background-color: var(--color-info-subtle); }

.fill-inherit { fill: inherit; }
.fill-transparent { fill: transparent; }
.fill-black { fill: var(--color-black, black); }
.fill-white { fill: var(--color-white, white); }
.fill-foreground { fill: var(--color-foreground); }
.fill-foreground-muted { fill: var(--color-foreground-muted); }
.fill-foreground-subtle { fill: var(--color-foreground-subtle); }
.fill-background { fill: var(--color-background); }
.fill-surface-0 { fill: var(--color-surface-0); }
.fill-surface-1 { fill: var(--color-surface-1); }
.fill-surface-2 { fill: var(--color-surface-2); }
.fill-surface-3 { fill: var(--color-surface-3); }
.fill-surface-4 { fill: var(--color-surface-4); }
.fill-surface-5 { fill: var(--color-surface-5); }
.fill-surface-6 { fill: var(--color-surface-6); }
.fill-surface-7 { fill: var(--color-surface-7); }
.fill-surface-8 { fill: var(--color-surface-8); }
.fill-surface-9 { fill: var(--color-surface-9); }
.fill-default { fill: var(--color-default); }
.fill-default-emphasis { fill: var(--color-default-emphasis); }
.fill-default-subtle { fill: var(--color-default-subtle); }
.fill-primary { fill: var(--color-primary); }
.fill-primary-emphasis { fill: var(--color-primary-emphasis); }
.fill-primary-subtle { fill: var(--color-primary-subtle); }
.fill-secondary { fill: var(--color-secondary); }
.fill-secondary-emphasis { fill: var(--color-secondary-emphasis); }
.fill-secondary-subtle { fill: var(--color-secondary-subtle); }
.fill-tertiary { fill: var(--color-tertiary); }
.fill-tertiary-emphasis { fill: var(--color-tertiary-emphasis); }
.fill-tertiary-subtle { fill: var(--color-tertiary-subtle); }
.fill-success { fill: var(--color-success); }
.fill-success-emphasis { fill: var(--color-success-emphasis); }
.fill-success-subtle { fill: var(--color-success-subtle); }
.fill-danger { fill: var(--color-danger); }
.fill-danger-emphasis { fill: var(--color-danger-emphasis); }
.fill-danger-subtle { fill: var(--color-danger-subtle); }
.fill-warning { fill: var(--color-warning); }
.fill-warning-emphasis { fill: var(--color-warning-emphasis); }
.fill-warning-subtle { fill: var(--color-warning-subtle); }
.fill-info { fill: var(--color-info); }
.fill-info-emphasis { fill: var(--color-info-emphasis); }
.fill-info-subtle { fill: var(--color-info-subtle); }
