.text-transparent { color: transparent; }
.text-white { color: white; }
.text-black { color: black; }
.text-light { color: var(--color-light); }
.text-dark { color: var(--color-dark); }
.text-gray { color: var(--color-gray); }
.text-light-gray { color: var(--color-light-gray); }
.text-dark-gray { color: var(--color-dark-gray); }

.text-red { color: var(--color-red); }
.text-orange { color: var(--color-orange); }
.text-yellow { color: var(--color-yellow); }
.text-green { color: var(--color-green); }
.text-teal { color: var(--color-teal); }
.text-cyan { color: var(--color-cyan); }
.text-blue { color: var(--color-blue); }
.text-indigo { color: var(--color-indigo); }
.text-purple { color: var(--color-purple); }
.text-pink { color: var(--color-pink); }

.text-primary { color: var(--color-primary); }
.text-secondary { color: var(--color-secondary); }
.text-success { color: var(--color-success); }
.text-danger { color: var(--color-danger); }
.text-warning { color: var(--color-warning); }
.text-info { color: var(--color-info); }
.text-themed { color: var(--color-theme-foreground); }
.text-themed-gray { color: var(--color-theme-shaded-gray); }

.bg-transparent { background-color: transparent; }
.bg-white { background-color: white; }
.bg-black { background-color: black; }
.bg-light { background-color: var(--color-light); }
.bg-dark { background-color: var(--color-dark); }
.bg-gray { background-color: var(--color-gray); }
.bg-light-gray { background-color: var(--color-light-gray); }
.bg-dark-gray { background-color: var(--color-dark-gray); }

.bg-red { background-color: var(--color-red); }
.bg-orange { background-color: var(--color-orange); }
.bg-yellow { background-color: var(--color-yellow); }
.bg-green { background-color: var(--color-green); }
.bg-teal { background-color: var(--color-teal); }
.bg-cyan { background-color: var(--color-cyan); }
.bg-blue { background-color: var(--color-blue); }
.bg-indigo { background-color: var(--color-indigo); }
.bg-purple { background-color: var(--color-purple); }
.bg-pink { background-color: var(--color-pink); }

.bg-primary { background-color: var(--color-primary); }
.bg-secondary { background-color: var(--color-secondary); }
.bg-success { background-color: var(--color-success); }
.bg-danger { background-color: var(--color-danger); }
.bg-warning { background-color: var(--color-warning); }
.bg-info { background-color: var(--color-info); }
.bg-themed { background-color: var(--color-theme-background); }
.bg-themed-gray { background-color: var(--color-theme-shaded-gray); }

.fill-transparent { fill: transparent; }
.fill-white { fill: white; }
.fill-black { fill: black; }
.fill-light { fill: var(--color-light); }
.fill-dark { fill: var(--color-dark); }
.fill-gray { fill: var(--color-gray); }
.fill-light-gray { fill: var(--color-light-gray); }
.fill-dark-gray { fill: var(--color-dark-gray); }

.fill-red { fill: var(--color-red); }
.fill-orange { fill: var(--color-orange); }
.fill-yellow { fill: var(--color-yellow); }
.fill-green { fill: var(--color-green); }
.fill-teal { fill: var(--color-teal); }
.fill-cyan { fill: var(--color-cyan); }
.fill-blue { fill: var(--color-blue); }
.fill-indigo { fill: var(--color-indigo); }
.fill-purple { fill: var(--color-purple); }
.fill-pink { fill: var(--color-pink); }

.fill-primary { fill: var(--color-primary); }
.fill-secondary { fill: var(--color-secondary); }
.fill-success { fill: var(--color-success); }
.fill-danger { fill: var(--color-danger); }
.fill-warning { fill: var(--color-warning); }
.fill-info { fill: var(--color-info); }
.fill-themed { fill: var(--color-theme-foreground); }
.fill-themed-gray { fill: var(--color-theme-shaded-gray); }
