.cursor-alias { cursor: alias; }
.cursor-auto { cursor: auto; }
.cursor-context-menu { cursor: context-menu; }
.cursor-cell { cursor: cell; }
.cursor-copy { cursor: copy; }
.cursor-crosshair { cursor: crosshair; }
.cursor-default { cursor: default; }
.cursor-grab { cursor: grab; }
.cursor-grabbing { cursor: grabbing; }
.cursor-help { cursor: help; }
.cursor-move { cursor: move; }
.cursor-none { cursor: none; }
.cursor-not-allowed { cursor: not-allowed; }
.cursor-pointer { cursor: pointer; }
.cursor-progress { cursor: progress; }
.cursor-text { cursor: text; }
.cursor-wait { cursor: wait; }
.cursor-zoom-in { cursor: zoom-in; }
.cursor-zoom-out { cursor: zoom-out; }
