.flex-row { flex-direction: row; }
.flex-row-reverse { flex-direction: row-reverse; }
.flex-column { flex-direction: column; }
.flex-column-reverse { flex-direction: column-reverse; }

.flex-wrap { flex-wrap: wrap; }
.flex-wrap-reverse { flex-wrap: wrap-reverse; }
.flex-nowrap { flex-wrap: nowrap; }

.flex-grow-1 { flex-grow: 1; }
.flex-grow-0 { flex-grow: 0; }

.flex-shrink-1 { flex-shrink: 1; }
.flex-shrink-0 { flex-shrink: 0; }

@media (min-width: 576px) {
  .flex-row-sm { flex-direction: row; }
  .flex-row-reverse-sm { flex-direction: row-reverse; }
  .flex-column-sm { flex-direction: column; }
  .flex-column-reverse-sm { flex-direction: column-reverse; }

  .flex-wrap-sm { flex-wrap: wrap; }
  .flex-wrap-reverse-sm { flex-wrap: wrap-reverse; }
  .flex-nowrap-sm { flex-wrap: nowrap; }
}

@media (min-width: 768px) {
  .flex-row-md { flex-direction: row; }
  .flex-row-reverse-md { flex-direction: row-reverse; }
  .flex-column-md { flex-direction: column; }
  .flex-column-reverse-md { flex-direction: column-reverse; }

  .flex-wrap-md { flex-wrap: wrap; }
  .flex-wrap-reverse-md { flex-wrap: wrap-reverse; }
  .flex-nowrap-md { flex-wrap: nowrap; }
}

@media (min-width: 992px) {
  .flex-row-lg { flex-direction: row; }
  .flex-row-reverse-lg { flex-direction: row-reverse; }
  .flex-column-lg { flex-direction: column; }
  .flex-column-reverse-lg { flex-direction: column-reverse; }

  .flex-wrap-lg { flex-wrap: wrap; }
  .flex-wrap-reverse-lg { flex-wrap: wrap-reverse; }
  .flex-nowrap-lg { flex-wrap: nowrap; }
}

@media (min-width: 1200px) {
  .flex-row-xl { flex-direction: row; }
  .flex-row-reverse-xl { flex-direction: row-reverse; }
  .flex-column-xl { flex-direction: column; }
  .flex-column-reverse-xl { flex-direction: column-reverse; }

  .flex-wrap-xl { flex-wrap: wrap; }
  .flex-wrap-reverse-xl { flex-wrap: wrap-reverse; }
  .flex-nowrap-xl { flex-wrap: nowrap; }
}
