.icon {
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  font-size: 24px;
  font-weight: normal;
  font-style: normal;
  letter-spacing: normal;
  text-transform: none;
  white-space: nowrap;
  direction: ltr;
  line-height: 1;
  color: inherit;
}
