.shadow,
.shadow-hover:hover,
.shadow-md,
.shadow-md-hover:hover {
  box-shadow: 0 .5rem 1rem rgba(var(--rgb-black), 10%);
}

.shadow-xs,
.shadow-xs-hover:hover {
  box-shadow: 0 .125rem .25rem rgba(var(--rgb-black), 5%);
}

.shadow-sm,
.shadow-sm-hover:hover {
  box-shadow: 0 .25rem .5rem rgba(var(--rgb-black), 7.5%);
}

.shadow-lg,
.shadow-lg-hover:hover {
  box-shadow: 0 1rem 3rem rgba(var(--rgb-black), 15%);
}

.shadow-none,
.shadow-none-hover:hover {
  box-shadow: none;
}

.shadow-hover,
.shadow-sm-hover,
.shadow-md-hover,
.shadow-lg-hover,
.shadow-none-hover {
  transition: box-shadow 200ms cubic-bezier(0.25, 0.8, 0.25, 1);
}
