.shadow,
.shadow-hover:hover,
.shadow-md,
.shadow-md-hover:hover {
  box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.15);
}

.shadow-sm,
.shadow-sm-hover:hover {
  box-shadow: 0 .125rem .25rem rgba(0, 0, 0, 0.075);
}

.shadow-lg,
.shadow-lg-hover:hover {
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175);
}

.shadow-none,
.shadow-none-hover:hover {
  box-shadow: none;
}

.shadow-hover,
.shadow-sm-hover,
.shadow-md-hover,
.shadow-lg-hover,
.shadow-none-hover {
  transition: box-shadow 0.2s cubic-bezier(0.25, 0.8, 0.25, 1);
}
