.font-weight-thin,
.font-weight-100 { font-weight: 100; }
.font-weight-extraLight,
.font-weight-200 { font-weight: 200; }
.font-weight-light,
.font-weight-300 { font-weight: 300; }
.font-weight-regular,
.font-weight-400 { font-weight: 400; }
.font-weight-medium,
.font-weight-500 { font-weight: 500; }
.font-weight-semibold,
.font-weight-600 { font-weight: 600; }
.font-weight-bold,
.font-weight-700 { font-weight: 700; }
.font-weight-extraBold,
.font-weight-800 { font-weight: 800; }
.font-weight-black,
.font-weight-900 { font-weight: 900; }

.text-nowrap { white-space: nowrap; }
.text-lowercase { text-transform: lowercase; }
.text-uppercase { text-transform: uppercase; }
.text-capitalize { text-transform: capitalize; }
.text-left { text-align: left; }
.text-right { text-align: right; }
.text-center { text-align: center; }
.text-justify { text-align: justify; }
