.font-family-base { font-family: var(--font-family-base); }
.font-size-base { font-size: var(--font-size-base); }
.font-weight-base { font-weight: var(--font-weight-base); }
.line-height-base { line-height: var(--line-height-base); }

.font-weight-bold,
.font-weight-700 { font-weight: 700; }
.font-weight-semibold,
.font-weight-600 { font-weight: 600; }
.font-weight-medium,
.font-weight-500 { font-weight: 500; }
.font-weight-regular,
.font-weight-400 { font-weight: 400; }

.lowercase { text-transform: lowercase; }
.uppercase { text-transform: uppercase; }
.capitalize { text-transform: capitalize; }

.left-aligned { text-align: left; }
.right-aligned { text-align: right; }
.center-aligned { text-align: center; }
.justified { text-align: justify; }

.nowrap { white-space: nowrap; }
