.shadow-xs,
.hover\:shadow-xs:hover {
  box-shadow: 0 1px 2px 0 rgb(from var(--color-shadow) r g b / 0.08), 0 2px 4px 0 rgb(from var(--color-shadow) r g b / 0.08);
}

.shadow,
.shadow-sm,
.hover\:shadow:hover,
.hover\:shadow-sm:hover {
  box-shadow: 0 2px 4px 0 rgb(from var(--color-shadow) r g b / 0.08), 0 4px 8px 0 rgb(from var(--color-shadow) r g b / 0.08);
}

.shadow-md,
.hover\:shadow-md:hover {
  box-shadow: 0 4px 8px 0 rgb(from var(--color-shadow) r g b / 0.08), 0 8px 16px 0 rgb(from var(--color-shadow) r g b / 0.08);
}

.shadow-lg,
.hover\:shadow-lg:hover {
  box-shadow: 0 8px 16px 0 rgb(from var(--color-shadow) r g b / 0.08), 0 16px 24px 0 rgb(from var(--color-shadow) r g b / 0.08);
}

.shadow-xl,
.hover\:shadow-xl:hover {
  box-shadow: 0 16px 24px 0 rgb(from var(--color-shadow) r g b / 0.08), 0 24px 32px 0 rgb(from var(--color-shadow) r g b / 0.08);
}

.shadow-none,
.hover\:shadow-none:hover {
  box-shadow: 0 0 rgb(from var(--color-shadow) r g b / 0);
}
