.opacity-0, .hover\:opacity-0:hover { opacity: 0; }
.opacity-10, .hover\:opacity-10:hover { opacity: 0.10; }
.opacity-20, .hover\:opacity-20:hover { opacity: 0.20; }
.opacity-30, .hover\:opacity-30:hover { opacity: 0.30; }
.opacity-40, .hover\:opacity-40:hover { opacity: 0.40; }
.opacity-50, .hover\:opacity-50:hover { opacity: 0.50; }
.opacity-60, .hover\:opacity-60:hover { opacity: 0.60; }
.opacity-70, .hover\:opacity-70:hover { opacity: 0.70; }
.opacity-80, .hover\:opacity-80:hover { opacity: 0.80; }
.opacity-90, .hover\:opacity-90:hover { opacity: 0.90; }
.opacity-100, .hover\:opacity-100:hover { opacity: 1; }

.opacity-transparent, .hover\:opacity-transparent:hover { opacity: var(--opacity-transparent); }
.opacity-soft, .hover\:opacity-soft:hover { opacity: var(--opacity-soft); }
.opacity-disabled, .hover\:opacity-disabled:hover { opacity: var(--opacity-disabled); }
.opacity-scrim, .hover\:opacity-scrim:hover { opacity: var(--opacity-scrim); }
.opacity-muted, .hover\:opacity-muted:hover { opacity: var(--opacity-muted); }
.opacity-subtle, .hover\:opacity-subtle:hover { opacity: var(--opacity-subtle); }
.opacity-opaque, .hover\:opacity-opaque:hover { opacity: var(--opacity-opaque); }
