.opacity-0, .hover\:opacity-0:hover { opacity: 0; }
.opacity-5, .hover\:opacity-5:hover { opacity: 0.05; }
.opacity-10, .hover\:opacity-10:hover { opacity: 0.10; }
.opacity-15, .hover\:opacity-15:hover { opacity: 0.15; }
.opacity-20, .hover\:opacity-20:hover { opacity: 0.20; }
.opacity-25, .hover\:opacity-25:hover { opacity: 0.25; }
.opacity-30, .hover\:opacity-30:hover { opacity: 0.30; }
.opacity-35, .hover\:opacity-35:hover { opacity: 0.35; }
.opacity-40, .hover\:opacity-40:hover { opacity: 0.40; }
.opacity-45, .hover\:opacity-45:hover { opacity: 0.45; }
.opacity-50, .hover\:opacity-50:hover { opacity: 0.50; }
.opacity-55, .hover\:opacity-55:hover { opacity: 0.55; }
.opacity-60, .hover\:opacity-60:hover { opacity: 0.60; }
.opacity-65, .hover\:opacity-65:hover { opacity: 0.65; }
.opacity-70, .hover\:opacity-70:hover { opacity: 0.70; }
.opacity-75, .hover\:opacity-75:hover { opacity: 0.75; }
.opacity-80, .hover\:opacity-80:hover { opacity: 0.80; }
.opacity-85, .hover\:opacity-85:hover { opacity: 0.85; }
.opacity-90, .hover\:opacity-90:hover { opacity: 0.90; }
.opacity-95, .hover\:opacity-95:hover { opacity: 0.95; }
.opacity-100, .hover\:opacity-100:hover { opacity: 1; }

.opacity-transparent, .hover\:opacity-transparent:hover { opacity: var(--opacity-transparent, 0); }
.opacity-subtle, .hover\:opacity-subtle:hover { opacity: var(--opacity-subtle, 0.12); }
.opacity-disabled, .hover\:opacity-disabled:hover { opacity: var(--opacity-disabled, 0.38); }
.opacity-scrim, .hover\:opacity-scrim:hover { opacity: var(--opacity-scrim, 0.54); }
.opacity-inactive, .hover\:opacity-inactive:hover { opacity: var(--opacity-inactive, 0.62); }
.opacity-active, .hover\:opacity-active:hover { opacity: var(--opacity-active, 0.87); }
.opacity-opaque, .hover\:opacity-opaque:hover { opacity: var(--opacity-opaque, 1); }
