[theme="blue"] {
  --theme-body-text-color: var(--white, white);
  --theme-headline-text-color: var(--white, white);
  --theme-divider-color: var(--light-3, #e0e0e0);
  --theme-link-color: var(--white, white);
  --theme-link-decoration-color: var(--white, white);
  --theme-button-primary-color: var(--white, white);
  --theme-button-secondary-color: var(--black, black);
  --theme-nav-skin-color: var(--white, white);
  --theme-nav-skin-decoration-color: var(--white, white);
  --theme-page-banner-color: var(--blue, #0099ff);
  --theme-social-icon-color: var(--white, white);

  background-color: var(--blue, #0099ff);
  color: var(--white, white);
}
