[theme="dark"],
[theme="dark"] * {
  --color-theme-background: var(--color-dark, black);
  --color-theme-foreground: var(--color-light, white);
  /* contrast correction */
  --color-blue: #367ef2;
  --color-gray: #737b8c;
  --color-primary: var(--color-blue);
  --color-secondary: var(--color-gray);
}

[theme="dark"] {
  background-color: var(--color-theme-background);
  color: var(--color-theme-foreground);
}
