[theme="dark-3"] {
  --theme-body-text-color: var(--light-3, #e0e0e0);
  --theme-headline-text-color: var(--white, white);
  --theme-divider-color: var(--gray, gray);
  --theme-link-color: var(--white, white);
  --theme-link-decoration-color: var(--blue, #0086e5);
  --theme-button-primary-color: var(--light-3, #e0e0e0);
  --theme-button-secondary-color: var(--black, black);
  --theme-nav-skin-color: var(--white, white);
  --theme-nav-skin-decoration-color: var(--blue, #0086e5);
  --theme-page-banner-color: var(--dark-3, #202020);
  --theme-social-icon-color: var(--white, white);

  background-color: var(--dark-3, #202020);
  color: var(--light-3, #e0e0e0);
}
