[theme="light-1"] {
  --theme-body-text-color: var(--dark-1, #101010);
  --theme-headline-text-color: var(--black, black);
  --theme-divider-color: var(--gray, gray);
  --theme-link-color: var(--black, black);
  --theme-link-decoration-color: var(--blue, #0099ff);
  --theme-button-primary-color: var(--dark-1, #101010);
  --theme-button-secondary-color: var(--white, white);
  --theme-nav-skin-color: var(--black, black);
  --theme-nav-skin-decoration-color: var(--blue, #0099ff);
  --theme-page-banner-color: var(--light-1, #f0f0f0);
  --theme-social-icon-color: initial;

  background-color: var(--light-1, #f0f0f0);
  color: var(--dark-1, #101010);
}
