.rotate-0, .hover\:rotate-0:hover { transform: rotate(0deg); }
.rotate-30, .hover\:rotate-30:hover { transform: rotate(30deg); }
.rotate-45, .hover\:rotate-45:hover { transform: rotate(45deg); }
.rotate-60, .hover\:rotate-60:hover { transform: rotate(60deg); }
.rotate-90, .hover\:rotate-90:hover { transform: rotate(90deg); }
.rotate-120, .hover\:rotate-120:hover { transform: rotate(120deg); }
.rotate-135, .hover\:rotate-135:hover { transform: rotate(135deg); }
.rotate-150, .hover\:rotate-150:hover { transform: rotate(150deg); }
.rotate-180, .hover\:rotate-180:hover { transform: rotate(180deg); }
.rotate-210, .hover\:rotate-210:hover { transform: rotate(210deg); }
.rotate-225, .hover\:rotate-225:hover { transform: rotate(225deg); }
.rotate-240, .hover\:rotate-240:hover { transform: rotate(240deg); }
.rotate-270, .hover\:rotate-270:hover { transform: rotate(270deg); }
.rotate-300, .hover\:rotate-300:hover { transform: rotate(300deg); }
.rotate-315, .hover\:rotate-315:hover { transform: rotate(315deg); }
.rotate-330, .hover\:rotate-330:hover { transform: rotate(330deg); }
.rotate-360, .hover\:rotate-360:hover { transform: rotate(360deg); }

.-rotate-30, .hover\:-rotate-30:hover { transform: rotate(-30deg); }
.-rotate-45, .hover\:-rotate-45:hover { transform: rotate(-45deg); }
.-rotate-60, .hover\:-rotate-60:hover { transform: rotate(-60deg); }
.-rotate-90, .hover\:-rotate-90:hover { transform: rotate(-90deg); }
.-rotate-120, .hover\:-rotate-120:hover { transform: rotate(-120deg); }
.-rotate-135, .hover\:-rotate-135:hover { transform: rotate(-135deg); }
.-rotate-150, .hover\:-rotate-150:hover { transform: rotate(-150deg); }
.-rotate-180, .hover\:-rotate-180:hover { transform: rotate(-180deg); }
.-rotate-210, .hover\:-rotate-210:hover { transform: rotate(-210deg); }
.-rotate-225, .hover\:-rotate-225:hover { transform: rotate(-225deg); }
.-rotate-240, .hover\:-rotate-240:hover { transform: rotate(-240deg); }
.-rotate-270, .hover\:-rotate-270:hover { transform: rotate(-270deg); }
.-rotate-300, .hover\:-rotate-300:hover { transform: rotate(-300deg); }
.-rotate-315, .hover\:-rotate-315:hover { transform: rotate(-315deg); }
.-rotate-330, .hover\:-rotate-330:hover { transform: rotate(-330deg); }
.-rotate-360, .hover\:-rotate-360:hover { transform: rotate(-360deg); }
