.scale-0, .hover\:scale-0:hover { transform: scale(0); }
.scale-25, .hover\:scale-25:hover { transform: scale(.25); }
.scale-50, .hover\:scale-50:hover { transform: scale(.5); }
.scale-75, .hover\:scale-75:hover { transform: scale(.75); }
.scale-90, .hover\:scale-90:hover { transform: scale(.9); }
.scale-95, .hover\:scale-95:hover { transform: scale(.95); }
.scale-100, .hover\:scale-100:hover { transform: scale(1); }
.scale-105, .hover\:scale-105:hover { transform: scale(1.05); }
.scale-110, .hover\:scale-110:hover { transform: scale(1.1); }
.scale-125, .hover\:scale-125:hover { transform: scale(1.25); }
.scale-150, .hover\:scale-150:hover { transform: scale(1.5); }
.scale-175, .hover\:scale-175:hover { transform: scale(1.75); }
.scale-200, .hover\:scale-200:hover { transform: scale(2); }

.scale-x-0, .hover\:scale-x-0:hover { transform: scaleX(0); }
.scale-x-25, .hover\:scale-x-25:hover { transform: scaleX(.25); }
.scale-x-50, .hover\:scale-x-50:hover { transform: scaleX(.5); }
.scale-x-75, .hover\:scale-x-75:hover { transform: scaleX(.75); }
.scale-x-90, .hover\:scale-x-90:hover { transform: scaleX(.9); }
.scale-x-95, .hover\:scale-x-95:hover { transform: scaleX(.95); }
.scale-x-100, .hover\:scale-x-100:hover { transform: scaleX(1); }
.scale-x-105, .hover\:scale-x-105:hover { transform: scaleX(1.05); }
.scale-x-110, .hover\:scale-x-110:hover { transform: scaleX(1.1); }
.scale-x-125, .hover\:scale-x-125:hover { transform: scaleX(1.25); }
.scale-x-150, .hover\:scale-x-150:hover { transform: scaleX(1.5); }
.scale-x-175, .hover\:scale-x-175:hover { transform: scaleX(1.75); }
.scale-x-200, .hover\:scale-x-200:hover { transform: scaleX(2); }

.scale-y-0, .hover\:scale-y-0:hover { transform: scaleY(0); }
.scale-y-25, .hover\:scale-y-25:hover { transform: scaleY(.25); }
.scale-y-50, .hover\:scale-y-50:hover { transform: scaleY(.5); }
.scale-y-75, .hover\:scale-y-75:hover { transform: scaleY(.75); }
.scale-y-90, .hover\:scale-y-90:hover { transform: scaleY(.9); }
.scale-y-95, .hover\:scale-y-95:hover { transform: scaleY(.95); }
.scale-y-100, .hover\:scale-y-100:hover { transform: scaleY(1); }
.scale-y-105, .hover\:scale-y-105:hover { transform: scaleY(1.05); }
.scale-y-110, .hover\:scale-y-110:hover { transform: scaleY(1.1); }
.scale-y-125, .hover\:scale-y-125:hover { transform: scaleY(1.25); }
.scale-y-150, .hover\:scale-y-150:hover { transform: scaleY(1.5); }
.scale-y-175, .hover\:scale-y-175:hover { transform: scaleY(1.75); }
.scale-y-200, .hover\:scale-y-200:hover { transform: scaleY(2); }
