.translate-x-0, .hover\:translate-x-0:hover { transform: translateX(0px); }
.translate-x-1px, .hover\:translate-x-1px:hover { transform: translateX(1px); }
.translate-x-1\/2, .hover\:translate-x-1\/2:hover { transform: translateX(50%); }
.translate-x-1\/3, .hover\:translate-x-1\/3:hover { transform: translateX(33.333333%); }
.translate-x-2\/3, .hover\:translate-x-2\/3:hover { transform: translateX(66.666667%); }
.translate-x-1\/4, .hover\:translate-x-1\/4:hover { transform: translateX(25%); }
.translate-x-2\/4, .hover\:translate-x-2\/4:hover { transform: translateX(50%); }
.translate-x-3\/4, .hover\:translate-x-3\/4:hover { transform: translateX(75%); }
.translate-x-1\/5, .hover\:translate-x-1\/5:hover { transform: translateX(20%); }
.translate-x-2\/5, .hover\:translate-x-2\/5:hover { transform: translateX(40%); }
.translate-x-3\/5, .hover\:translate-x-3\/5:hover { transform: translateX(60%); }
.translate-x-4\/5, .hover\:translate-x-4\/5:hover { transform: translateX(80%); }
.translate-x-1\/6, .hover\:translate-x-1\/6:hover { transform: translateX(16.666667%); }
.translate-x-2\/6, .hover\:translate-x-2\/6:hover { transform: translateX(33.333333%); }
.translate-x-3\/6, .hover\:translate-x-3\/6:hover { transform: translateX(50%); }
.translate-x-4\/6, .hover\:translate-x-4\/6:hover { transform: translateX(66.666667%); }
.translate-x-5\/6, .hover\:translate-x-5\/6:hover { transform: translateX(83.333333%); }
.translate-x-1\/8, .hover\:translate-x-1\/8:hover { transform: translateX(12.5%); }
.translate-x-2\/8, .hover\:translate-x-2\/8:hover { transform: translateX(25%); }
.translate-x-3\/8, .hover\:translate-x-3\/8:hover { transform: translateX(37.5%); }
.translate-x-4\/8, .hover\:translate-x-4\/8:hover { transform: translateX(50%); }
.translate-x-5\/8, .hover\:translate-x-5\/8:hover { transform: translateX(62.5%); }
.translate-x-6\/8, .hover\:translate-x-6\/8:hover { transform: translateX(75%); }
.translate-x-7\/8, .hover\:translate-x-7\/8:hover { transform: translateX(87.5%); }
.translate-x-1\/10, .hover\:translate-x-1\/10:hover { transform: translateX(10%); }
.translate-x-2\/10, .hover\:translate-x-2\/10:hover { transform: translateX(20%); }
.translate-x-3\/10, .hover\:translate-x-3\/10:hover { transform: translateX(30%); }
.translate-x-4\/10, .hover\:translate-x-4\/10:hover { transform: translateX(40%); }
.translate-x-5\/10, .hover\:translate-x-5\/10:hover { transform: translateX(50%); }
.translate-x-6\/10, .hover\:translate-x-6\/10:hover { transform: translateX(60%); }
.translate-x-7\/10, .hover\:translate-x-7\/10:hover { transform: translateX(70%); }
.translate-x-8\/10, .hover\:translate-x-8\/10:hover { transform: translateX(80%); }
.translate-x-9\/10, .hover\:translate-x-9\/10:hover { transform: translateX(90%); }
.translate-x-1\/12, .hover\:translate-x-1\/12:hover { transform: translateX(8.333333%); }
.translate-x-2\/12, .hover\:translate-x-2\/12:hover { transform: translateX(16.666667%); }
.translate-x-3\/12, .hover\:translate-x-3\/12:hover { transform: translateX(25%); }
.translate-x-4\/12, .hover\:translate-x-4\/12:hover { transform: translateX(33.333333%); }
.translate-x-5\/12, .hover\:translate-x-5\/12:hover { transform: translateX(41.666667%); }
.translate-x-6\/12, .hover\:translate-x-6\/12:hover { transform: translateX(50%); }
.translate-x-7\/12, .hover\:translate-x-7\/12:hover { transform: translateX(58.333333%); }
.translate-x-8\/12, .hover\:translate-x-8\/12:hover { transform: translateX(66.666667%); }
.translate-x-9\/12, .hover\:translate-x-9\/12:hover { transform: translateX(75%); }
.translate-x-10\/12, .hover\:translate-x-10\/12:hover { transform: translateX(83.333333%); }
.translate-x-11\/12, .hover\:translate-x-11\/12:hover { transform: translateX(91.666667%); }
.translate-x-full, .hover\:translate-x-full:hover { transform: translateX(100%); }
.translate-x-xxxs, .hover\:translate-x-xxxs:hover { transform: translateX(var(--spacing-xxxs)); }
.translate-x-xxs, .hover\:translate-x-xxs:hover { transform: translateX(var(--spacing-xxs)); }
.translate-x-xs, .hover\:translate-x-xs:hover { transform: translateX(var(--spacing-xs)); }
.translate-x-sm, .hover\:translate-x-sm:hover { transform: translateX(var(--spacing-sm)); }
.translate-x-md, .hover\:translate-x-md:hover { transform: translateX(var(--spacing-md)); }
.translate-x-lg, .hover\:translate-x-lg:hover { transform: translateX(var(--spacing-lg)); }
.translate-x-xl, .hover\:translate-x-xl:hover { transform: translateX(var(--spacing-xl)); }
.translate-x-xxl, .hover\:translate-x-xxl:hover { transform: translateX(var(--spacing-xxl)); }
.translate-x-xxxl, .hover\:translate-x-xxxl:hover { transform: translateX(var(--spacing-xxxl)); }
.translate-x-2xl, .hover\:translate-x-2xl:hover { transform: translateX(var(--spacing-2xl)); }
.translate-x-2xxl, .hover\:translate-x-2xxl:hover { transform: translateX(var(--spacing-2xxl)); }
.translate-x-2xxxl, .hover\:translate-x-2xxxl:hover { transform: translateX(var(--spacing-2xxxl)); }

.translate-y-0, .hover\:translate-y-0:hover { transform: translateY(0px); }
.translate-y-1px, .hover\:translate-y-1px:hover { transform: translateY(1px); }
.translate-y-1\/2, .hover\:translate-y-1\/2:hover { transform: translateY(50%); }
.translate-y-1\/3, .hover\:translate-y-1\/3:hover { transform: translateY(33.333333%); }
.translate-y-2\/3, .hover\:translate-y-2\/3:hover { transform: translateY(66.666667%); }
.translate-y-1\/4, .hover\:translate-y-1\/4:hover { transform: translateY(25%); }
.translate-y-2\/4, .hover\:translate-y-2\/4:hover { transform: translateY(50%); }
.translate-y-3\/4, .hover\:translate-y-3\/4:hover { transform: translateY(75%); }
.translate-y-1\/5, .hover\:translate-y-1\/5:hover { transform: translateY(20%); }
.translate-y-2\/5, .hover\:translate-y-2\/5:hover { transform: translateY(40%); }
.translate-y-3\/5, .hover\:translate-y-3\/5:hover { transform: translateY(60%); }
.translate-y-4\/5, .hover\:translate-y-4\/5:hover { transform: translateY(80%); }
.translate-y-1\/6, .hover\:translate-y-1\/6:hover { transform: translateY(16.666667%); }
.translate-y-2\/6, .hover\:translate-y-2\/6:hover { transform: translateY(33.333333%); }
.translate-y-3\/6, .hover\:translate-y-3\/6:hover { transform: translateY(50%); }
.translate-y-4\/6, .hover\:translate-y-4\/6:hover { transform: translateY(66.666667%); }
.translate-y-5\/6, .hover\:translate-y-5\/6:hover { transform: translateY(83.333333%); }
.translate-y-1\/8, .hover\:translate-y-1\/8:hover { transform: translateY(12.5%); }
.translate-y-2\/8, .hover\:translate-y-2\/8:hover { transform: translateY(25%); }
.translate-y-3\/8, .hover\:translate-y-3\/8:hover { transform: translateY(37.5%); }
.translate-y-4\/8, .hover\:translate-y-4\/8:hover { transform: translateY(50%); }
.translate-y-5\/8, .hover\:translate-y-5\/8:hover { transform: translateY(62.5%); }
.translate-y-6\/8, .hover\:translate-y-6\/8:hover { transform: translateY(75%); }
.translate-y-7\/8, .hover\:translate-y-7\/8:hover { transform: translateY(87.5%); }
.translate-y-1\/10, .hover\:translate-y-1\/10:hover { transform: translateY(10%); }
.translate-y-2\/10, .hover\:translate-y-2\/10:hover { transform: translateY(20%); }
.translate-y-3\/10, .hover\:translate-y-3\/10:hover { transform: translateY(30%); }
.translate-y-4\/10, .hover\:translate-y-4\/10:hover { transform: translateY(40%); }
.translate-y-5\/10, .hover\:translate-y-5\/10:hover { transform: translateY(50%); }
.translate-y-6\/10, .hover\:translate-y-6\/10:hover { transform: translateY(60%); }
.translate-y-7\/10, .hover\:translate-y-7\/10:hover { transform: translateY(70%); }
.translate-y-8\/10, .hover\:translate-y-8\/10:hover { transform: translateY(80%); }
.translate-y-9\/10, .hover\:translate-y-9\/10:hover { transform: translateY(90%); }
.translate-y-1\/12, .hover\:translate-y-1\/12:hover { transform: translateY(8.333333%); }
.translate-y-2\/12, .hover\:translate-y-2\/12:hover { transform: translateY(16.666667%); }
.translate-y-3\/12, .hover\:translate-y-3\/12:hover { transform: translateY(25%); }
.translate-y-4\/12, .hover\:translate-y-4\/12:hover { transform: translateY(33.333333%); }
.translate-y-5\/12, .hover\:translate-y-5\/12:hover { transform: translateY(41.666667%); }
.translate-y-6\/12, .hover\:translate-y-6\/12:hover { transform: translateY(50%); }
.translate-y-7\/12, .hover\:translate-y-7\/12:hover { transform: translateY(58.333333%); }
.translate-y-8\/12, .hover\:translate-y-8\/12:hover { transform: translateY(66.666667%); }
.translate-y-9\/12, .hover\:translate-y-9\/12:hover { transform: translateY(75%); }
.translate-y-10\/12, .hover\:translate-y-10\/12:hover { transform: translateY(83.333333%); }
.translate-y-11\/12, .hover\:translate-y-11\/12:hover { transform: translateY(91.666667%); }
.translate-y-full, .hover\:translate-y-full:hover { transform: translateY(100%); }
.translate-y-xxxs, .hover\:translate-y-xxxs:hover { transform: translateY(var(--spacing-xxxs)); }
.translate-y-xxs, .hover\:translate-y-xxs:hover { transform: translateY(var(--spacing-xxs)); }
.translate-y-xs, .hover\:translate-y-xs:hover { transform: translateY(var(--spacing-xs)); }
.translate-y-sm, .hover\:translate-y-sm:hover { transform: translateY(var(--spacing-sm)); }
.translate-y-md, .hover\:translate-y-md:hover { transform: translateY(var(--spacing-md)); }
.translate-y-lg, .hover\:translate-y-lg:hover { transform: translateY(var(--spacing-lg)); }
.translate-y-xl, .hover\:translate-y-xl:hover { transform: translateY(var(--spacing-xl)); }
.translate-y-xxl, .hover\:translate-y-xxl:hover { transform: translateY(var(--spacing-xxl)); }
.translate-y-xxxl, .hover\:translate-y-xxxl:hover { transform: translateY(var(--spacing-xxxl)); }
.translate-y-2xl, .hover\:translate-y-2xl:hover { transform: translateY(var(--spacing-2xl)); }
.translate-y-2xxl, .hover\:translate-y-2xxl:hover { transform: translateY(var(--spacing-2xxl)); }
.translate-y-2xxxl, .hover\:translate-y-2xxxl:hover { transform: translateY(var(--spacing-2xxxl)); }

.-translate-y-1px, .hover\:-translate-y-1px:hover { transform: translateY(-1px); }
.-translate-y-1\/2, .hover\:-translate-y-1\/2:hover { transform: translateY(-50%); }
.-translate-y-1\/3, .hover\:-translate-y-1\/3:hover { transform: translateY(-33.333333%); }
.-translate-y-2\/3, .hover\:-translate-y-2\/3:hover { transform: translateY(-66.666667%); }
.-translate-y-1\/4, .hover\:-translate-y-1\/4:hover { transform: translateY(-25%); }
.-translate-y-2\/4, .hover\:-translate-y-2\/4:hover { transform: translateY(-50%); }
.-translate-y-3\/4, .hover\:-translate-y-3\/4:hover { transform: translateY(-75%); }
.-translate-y-1\/5, .hover\:-translate-y-1\/5:hover { transform: translateY(-20%); }
.-translate-y-2\/5, .hover\:-translate-y-2\/5:hover { transform: translateY(-40%); }
.-translate-y-3\/5, .hover\:-translate-y-3\/5:hover { transform: translateY(-60%); }
.-translate-y-4\/5, .hover\:-translate-y-4\/5:hover { transform: translateY(-80%); }
.-translate-y-1\/6, .hover\:-translate-y-1\/6:hover { transform: translateY(-16.666667%); }
.-translate-y-2\/6, .hover\:-translate-y-2\/6:hover { transform: translateY(-33.333333%); }
.-translate-y-3\/6, .hover\:-translate-y-3\/6:hover { transform: translateY(-50%); }
.-translate-y-4\/6, .hover\:-translate-y-4\/6:hover { transform: translateY(-66.666667%); }
.-translate-y-5\/6, .hover\:-translate-y-5\/6:hover { transform: translateY(-83.333333%); }
.-translate-y-1\/8, .hover\:-translate-y-1\/8:hover { transform: translateY(-12.5%); }
.-translate-y-2\/8, .hover\:-translate-y-2\/8:hover { transform: translateY(-25%); }
.-translate-y-3\/8, .hover\:-translate-y-3\/8:hover { transform: translateY(-37.5%); }
.-translate-y-4\/8, .hover\:-translate-y-4\/8:hover { transform: translateY(-50%); }
.-translate-y-5\/8, .hover\:-translate-y-5\/8:hover { transform: translateY(-62.5%); }
.-translate-y-6\/8, .hover\:-translate-y-6\/8:hover { transform: translateY(-75%); }
.-translate-y-7\/8, .hover\:-translate-y-7\/8:hover { transform: translateY(-87.5%); }
.-translate-y-1\/10, .hover\:-translate-y-1\/10:hover { transform: translateY(-10%); }
.-translate-y-2\/10, .hover\:-translate-y-2\/10:hover { transform: translateY(-20%); }
.-translate-y-3\/10, .hover\:-translate-y-3\/10:hover { transform: translateY(-30%); }
.-translate-y-4\/10, .hover\:-translate-y-4\/10:hover { transform: translateY(-40%); }
.-translate-y-5\/10, .hover\:-translate-y-5\/10:hover { transform: translateY(-50%); }
.-translate-y-6\/10, .hover\:-translate-y-6\/10:hover { transform: translateY(-60%); }
.-translate-y-7\/10, .hover\:-translate-y-7\/10:hover { transform: translateY(-70%); }
.-translate-y-8\/10, .hover\:-translate-y-8\/10:hover { transform: translateY(-80%); }
.-translate-y-9\/10, .hover\:-translate-y-9\/10:hover { transform: translateY(-90%); }
.-translate-y-1\/12, .hover\:-translate-y-1\/12:hover { transform: translateY(-8.333333%); }
.-translate-y-2\/12, .hover\:-translate-y-2\/12:hover { transform: translateY(-16.666667%); }
.-translate-y-3\/12, .hover\:-translate-y-3\/12:hover { transform: translateY(-25%); }
.-translate-y-4\/12, .hover\:-translate-y-4\/12:hover { transform: translateY(-33.333333%); }
.-translate-y-5\/12, .hover\:-translate-y-5\/12:hover { transform: translateY(-41.666667%); }
.-translate-y-6\/12, .hover\:-translate-y-6\/12:hover { transform: translateY(-50%); }
.-translate-y-7\/12, .hover\:-translate-y-7\/12:hover { transform: translateY(-58.333333%); }
.-translate-y-8\/12, .hover\:-translate-y-8\/12:hover { transform: translateY(-66.666667%); }
.-translate-y-9\/12, .hover\:-translate-y-9\/12:hover { transform: translateY(-75%); }
.-translate-y-10\/12, .hover\:-translate-y-10\/12:hover { transform: translateY(-83.333333%); }
.-translate-y-11\/12, .hover\:-translate-y-11\/12:hover { transform: translateY(-91.666667%); }
.-translate-y-full, .hover\:-translate-y-full:hover { transform: translateY(-100%); }
.-translate-y-xxxs, .hover\:-translate-y-xxxs:hover { transform: translateY(calc(var(--spacing-xxxs) * -1)); }
.-translate-y-xxs, .hover\:-translate-y-xxs:hover { transform: translateY(calc(var(--spacing-xxs) * -1)); }
.-translate-y-xs, .hover\:-translate-y-xs:hover { transform: translateY(calc(var(--spacing-xs) * -1)); }
.-translate-y-sm, .hover\:-translate-y-sm:hover { transform: translateY(calc(var(--spacing-sm) * -1)); }
.-translate-y-md, .hover\:-translate-y-md:hover { transform: translateY(calc(var(--spacing-md) * -1)); }
.-translate-y-lg, .hover\:-translate-y-lg:hover { transform: translateY(calc(var(--spacing-lg) * -1)); }
.-translate-y-xl, .hover\:-translate-y-xl:hover { transform: translateY(calc(var(--spacing-xl) * -1)); }
.-translate-y-xxl, .hover\:-translate-y-xxl:hover { transform: translateY(calc(var(--spacing-xxl) * -1)); }
.-translate-y-xxxl, .hover\:-translate-y-xxxl:hover { transform: translateY(calc(var(--spacing-xxxl) * -1)); }
.-translate-y-2xl, .hover\:-translate-y-2xl:hover { transform: translateY(calc(var(--spacing-2xl) * -1)); }
.-translate-y-2xxl, .hover\:-translate-y-2xxl:hover { transform: translateY(calc(var(--spacing-2xxl) * -1)); }
.-translate-y-2xxxl, .hover\:-translate-y-2xxxl:hover { transform: translateY(calc(var(--spacing-2xxxl) * -1)); }
