blockquote {
  color: var(--color-foreground, inherit);
  border-left: 3px solid var(--color-border);
  margin-block-start: 0;
  margin-block-end: 1rem;
  margin-inline-start: 0;
  margin-inline-end: 0;
  padding: .5em .75em;
}

blockquote footer {
  display: block;
  color: rgb(from var(--color-foreground) r g b / var(--opacity-muted));
}

blockquote footer::before {
  content: "\2014\00A0";
}
