blockquote {
  border-left: .1875rem solid var(--color-border);
  padding: var(--spacing-sm) var(--spacing-md);
}

blockquote footer {
  display: block;
  color: rgb(from var(--color-foreground) r g b / var(--opacity-muted));
}

blockquote footer::before {
  content: "\2014\00A0";
}
