button {
  font-family: inherit;
  appearance: none;
  background: none;
  border: none;
  outline: none;
  padding: 0;
}

button:not(:disabled) {
  cursor: pointer;
}

button:disabled {
  cursor: not-allowed;
  opacity: var(--opacity-disabled, 0.38);
}

button:focus-visible {
  outline: -webkit-focus-ring-color auto 1px;
  outline-offset: 1px;
}
