code[class*="language-"],
pre[class*="language-"] {
  background: var(--color-background);
  color: var(--color-foreground);
  font-family: "Fira Code", "Fira Mono", ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  direction: ltr;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  line-height: 1.5;
  font-size: .9375rem;
  -moz-tab-size: 2;
  -o-tab-size: 2;
  tab-size: 2;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}

code[class*="language-"]::-moz-selection,
code[class*="language-"] *::-moz-selection,
pre[class*="language-"] *::-moz-selection {
  background: var(--color-surface-9);
  color: inherit;
  text-shadow: none;
}

code[class*="language-"]::selection,
code[class*="language-"] *::selection,
pre[class*="language-"] *::selection {
  background: var(--color-surface-9);
  color: inherit;
  text-shadow: none;
}

pre[class*="language-"] {
  padding: var(--spacing-md);
  border: .0625rem solid var(--color-border);
  border-radius: var(--radius-md);
  overflow: auto;
}

pre[class*="language-"] {
  overflow-x: auto;
}

pre[class*="language-"]::-webkit-scrollbar {
  height: var(--spacing-sm);
}

pre[class*="language-"]::-webkit-scrollbar-track {
  background-color: transparent;
}

pre[class*="language-"]::-webkit-scrollbar-thumb {
  background-color: var(--color-surface-5);
  background-clip: content-box;
  border-radius: var(--radius-full);
  border: none;
}

pre[class*="language-"]::-webkit-scrollbar-thumb:hover {
  background-color: var(--color-surface-7);
}

:not(pre) > code {
  padding: var(--spacing-xxxs) var(--spacing-xxs);
  background-color: var(--color-surface-2);
  border-radius: var(--radius-sm);
  white-space: normal;
}

[data-theme="dark"] :not(pre) > code,
[data-theme="high-contrast"] :not(pre) > code {
  background-color: var(--color-surface-9);
}

@media print {
  code[class*="language-"],
  pre[class*="language-"] {
    text-shadow: none;
  }
}

.token.punctuation {
  color: var(--color-syntax-foreground);
}

.token.comment,
.token.doctype,
.token.prolog,
.token.cdata {
  color: var(--color-syntax-comment);
}

.token.keyword,
.token.builtin,
.token.important,
.token.operator,
.token.atrule,
.token.symbol,
.token.tag {
  color: var(--color-syntax-keyword);
}

.token.function,
.token.function-definition {
  color: var(--color-syntax-function);
}

.token.entity,
.token.selector,
.token.attr-name,
.token.class-name,
.token.return-type,
.token.namespace {
  color: var(--color-syntax-entity);
}

.token.property,
.token.variable {
  color: var(--color-syntax-property);
}

.token.string,
.token.char,
.token.regex,
.token.url,
.token.attr-value {
  color: var(--color-syntax-string);
}

.token.constant,
.token.boolean,
.token.number {
  color: var(--color-syntax-constant);
}

.token.changed {
  color: var(--color-syntax-diff-changed-text);
  background-color: var(--color-syntax-diff-changed-bg);
}

.token.deleted {
  color: var(--color-syntax-diff-deleted-text);
  background-color: var(--color-syntax-diff-deleted-bg);
}

.token.ignored {
  color: var(--color-syntax-diff-ignored-text);
  background-color: var(--color-syntax-diff-ignored-bg);
}

.token.inserted {
  color: var(--color-syntax-diff-inserted-text);
  background-color: var(--color-syntax-diff-inserted-bg);
}

.token.bold {
  font-weight: bold;
}

.token.italic {
  font-style: italic;
}
