code[class*="language-"],
pre[class*="language-"] {
  background: var(--color-surface-1);
  color: var(--color-foreground);
  font-family: "Fira Code", "Fira Mono", ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  direction: ltr;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  line-height: 1.5;
  font-size: .9375rem;
  -moz-tab-size: 2;
  -o-tab-size: 2;
  tab-size: 2;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}

code[class*="language-"]::selection,
code[class*="language-"]::-moz-selection,
code[class*="language-"] *::selection,
code[class*="language-"] *::-moz-selection,
pre[class*="language-"] *::selection,
pre[class*="language-"] *::-moz-selection {
  background: var(--color-surface-7);
  color: inherit;
  text-shadow: none;
}

pre[class*="language-"] {
  position: relative;
  padding: var(--spacing-md);
  border-radius: var(--radius-md);
  overflow: auto;
}

pre[class*="language-"].border {
  border: .0625rem solid var(--color-border);
}

pre[class*="language-"]:not(.border) {
  border: .0625rem solid transparent;
}

pre[class*="language-"]::-webkit-scrollbar {
  height: var(--spacing-sm);
}

pre[class*="language-"]::-webkit-scrollbar-track {
  background-color: transparent;
}

pre[class*="language-"]::-webkit-scrollbar-thumb {
  background-color: var(--color-surface-5);
  background-clip: content-box;
  border-radius: var(--radius-full);
  border: none;
}

pre[class*="language-"]::-webkit-scrollbar-thumb:hover {
  background-color: var(--color-surface-7);
}

:not(pre) > code {
  padding: var(--spacing-xxxs) var(--spacing-xxs);
  background-color: var(--color-surface-2);
  border: .0625rem solid transparent;
  border-radius: var(--radius-sm);
  white-space: normal;
}

[data-theme="dark"] :not(pre) > code,
[data-theme="high-contrast"] :not(pre) > code {
  background-color: var(--color-surface-9);
}

@media print {
  code[class*="language-"],
  pre[class*="language-"] {
    text-shadow: none;
  }
}
