hr {
  height: .0625rem;
  margin-inline-start: 0;
  margin-inline-end: 0;
  margin-block-start: var(--spacing-lg);
  margin-block-end: var(--spacing-lg);
  background-color: var(--color-border);
  border: none;
}

hr.transparent {
  background-color: transparent;
}

hr.sm {
  width: 4rem;
}

hr.md {
  width: 8rem;
}

hr.lg {
  width: 16rem;
}

hr.full {
  width: 100%;
}

hr.thick {
  height: .125rem;
}
