hr {
  height: 1px;
  margin-block-start: 32px;
  margin-block-end: 32px;
  margin-inline-start: 0;
  margin-inline-end: 0;
  background-color: var(--color-divider);
  border: none;
}

hr.transparent {
  background-color: transparent;
}

hr.small {
  width: 64px;
}

hr.medium {
  width: 128px;
}

hr.large {
  width: 256px;
}

hr.full {
  width: 100%;
}

hr.thick {
  height: 2px;
}
