input,
select,
textarea {
  font-family: inherit;
  font-size: 0.875em;
  line-height: 1.125rem;
  vertical-align: middle;
  border: 1px solid var(--color-border);
  border-radius: 0.25rem;
  background: none;
  outline: none;
  color: inherit;
  padding: 8px;
}

input::placeholder,
select::placeholder,
textarea::placeholder {
  font-size: 1em;
  color: rgb(from var(--color-foreground) r g b / var(--opacity-inactive));
  opacity: 1;
}

input:focus,
select:focus,
textarea:focus {
  border-color: var(--color-primary);
}

input:disabled,
select:disabled,
textarea:disabled {
  cursor: not-allowed;
  opacity: var(--opacity-disabled, 0.38);
}

input[type="submit"] {
  min-width: 80px;
  font-weight: 500;
  color: rgb(from var(--color-foreground) r g b / var(--opacity-inactive));
  transition: color 200ms, background-color 200ms, border-color 200ms;
}

input[type="submit"]:not(:disabled) {
  cursor: pointer;
}

input[type="submit"]:not(:disabled):hover,
input[type="submit"]:not(:disabled):focus {
  color: var(--color-on-default);
  background-color: var(--color-default);
  border-color: var(--color-default);
}

input[type="search"]::-ms-clear,
input[type="search"]::-ms-reveal {
  display: none;
  width: 0;
  height: 0;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}
