input {
  font-family: inherit;
  font-size: 0.9375rem;
  line-height: 1.15rem;
  background: none;
  outline: none;
  border: solid 1px var(--color-scale-gray-300);
  border-radius: 5px;
  color: var(--color-body-text);
  padding: 8px 12px;
}

input:focus {
  border-color: var(--color-scale-blue-500);
}

input::placeholder {
  font-size: 0.875em;
  color: var(--color-scale-gray-500);
}

input[type="search"]::-ms-clear,
input[type="search"]::-ms-reveal {
  display: none;
  width: 0;
  height: 0;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}
