table {
  width: 100%;
  border-spacing: 0;
  border-collapse: separate;
}

table th,
table td {
  border: .0625rem solid transparent;
  padding: var(--spacing-sm);
}

table th {
  text-align: left;
  font-weight: 600;
}

table tr:first-child th:first-child,
table tr:first-child td:first-child {
  border-top-left-radius: var(--radius-md);
}

table tr:first-child th:last-child,
table tr:first-child td:last-child {
  border-top-right-radius: var(--radius-md);
}

table tr:last-child th:first-child,
table tr:last-child td:first-child {
  border-bottom-left-radius: var(--radius-md);
}

table tr:last-child th:last-child,
table tr:last-child td:last-child {
  border-bottom-right-radius: var(--radius-md);
}

table tr:not(:first-child) th,
table tr:not(:first-child) td {
  border-top: none;
}

table tr th:not(:first-child),
table tr td:not(:first-child){
  border-left: none;
}

table.bordered th,
table.bordered td {
  border-color: var(--color-border);
}

table.striped tr:nth-child(even) {
  background-color: var(--color-surface-1);
}
