:root {
  --header-height: 80px;
}

.app-header {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  height: var(--header-height, 80px);
}

.app-header--bordered {
  border-bottom: solid 1px var(--color-border);
}

.app-header--transparent {
  background: none !important;
}

.app-header--sticky {
  position: sticky;
  top: 0;
  z-index: var(--z-index-sticky, 1020);
}

.app-header > .container,
.app-header > .container-fluid {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  margin: 0 auto;
}

.app-header > .container-fluid {
  max-width: 100%;
}

.app-header__content {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
}

.app-header .logo {
  z-index: 1055;
}

.app-header .navbar,
.app-header .social-nav-links {
  display: none;
}

@media screen and (min-width: 1200px) {
  .app-header .navbar,
  .app-header .social-nav-links {
    display: block;
  }

  .app-header .navmenu,
  .app-header .navmenu__button {
    display: none;
  }
}
