:root {
  --footer-height: 4rem;
}

.app-footer {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  height: var(--footer-height);
}

.app-footer--bordered {
  border-top: .0625rem solid var(--color-border);
}

.app-footer--transparent {
  background: none !important;
}

.app-footer--sticky {
  position: sticky;
  bottom: 0;
  z-index: var(--z-index-sticky);
}

.app-footer__left {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.app-footer__right {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.app-footer__center {
  display: flex;
  justify-content: center;
  align-items: center;
}
