:root {
  --header-height: 5rem;
}

.app-header {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  height: var(--header-height);
}

.app-header--bordered {
  border-bottom: .0625rem solid var(--color-border);
}

.app-header--transparent {
  background: none !important;
}

.app-header--sticky {
  position: sticky;
  top: 0;
  z-index: var(--z-index-sticky);
}

.app-header__left {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.app-header__right {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.app-header__center {
  display: flex;
  justify-content: center;
  align-items: center;
}
