.app-footer {
  position: relative;
  display: flex;
  align-items: center;
  text-align: center;
  overflow: hidden;
  width: 100%;
}

.app-footer--bordered {
  border-top: .0625rem solid var(--color-border);
}

.app-footer--transparent {
  background: none !important;
}

.app-footer--sticky {
  position: sticky;
  bottom: 0;
  z-index: var(--z-index-sticky);
}

.app-footer .col {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.app-footer .col > * {
  display: flex;
  align-items: center;
}

.app-footer .links {
  white-space: nowrap;
}

@media (max-width: 767px) {
  .app-footer .col {
    flex-direction: column;
  }

  .app-footer .col > :not(.links) {
    flex-direction: column;
  }

  .app-footer .logo,
  .app-footer .copyright,
  .app-footer .links {
    margin-bottom: var(--spacing-sm);
  }

  .app-footer .links {
    justify-content: center;
    flex-wrap: wrap;
  }
}
