.badge {
  display: inline-block;
  min-width: 48px;
  margin: 0.5em;
  padding: 0.5em 0.675em;
  border-radius: 0.25rem;
  font-size: 0.75em;
  font-weight: 500;
  line-height: 1;
  text-align: center;
  vertical-align: baseline;
  white-space: nowrap;
}

.badge:first-child {
  margin-left: 0;
}

.badge:last-child {
  margin-right: 0;
}

.badge,
.badge--solid {
  background-color: var(--color-on-background, black);
  border: 1px solid var(--color-on-background, black);
  color: var(--color-background, white);
}

.badge--outline {
  background-color: transparent;
  border: 1px solid var(--color-on-background, black);
  color: var(--color-on-background, black);
}

.badge--pill {
  border-radius: 50rem !important;
}
