.badge,
.badge--default {
  --badge-color-primary: var(--color-default);
  --badge-color-secondary: var(--color-on-default);
}

.badge--primary {
  --badge-color-primary: var(--color-primary);
  --badge-color-secondary: var(--color-on-primary);
}

.badge--secondary {
  --badge-color-primary: var(--color-secondary);
  --badge-color-secondary: var(--color-on-secondary);
}

.badge--success {
  --badge-color-primary: var(--color-success);
  --badge-color-secondary: var(--color-on-success);
}

.badge--danger {
  --badge-color-primary: var(--color-danger);
  --badge-color-secondary: var(--color-on-danger);
}

.badge--warning {
  --badge-color-primary: var(--color-warning);
  --badge-color-secondary: var(--color-on-warning);
}

.badge--info {
  --badge-color-primary: var(--color-info);
  --badge-color-secondary: var(--color-on-info);
}

.badge {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: .5em 1em;
  background-color: var(--badge-color-primary);
  border: .0625rem solid var(--badge-color-primary);
  border-radius: var(--radius-full);
  color: var(--badge-color-secondary);
  font-size: .75rem;
  font-weight: 500;
  line-height: 1;
  text-align: center;
  vertical-align: baseline;
  white-space: nowrap;
  transition: background-color 150ms, border 150ms, color 150ms;
}

.badge--solid {
  background-color: var(--badge-color-primary);
  border: .0625rem solid var(--badge-color-primary);
  color: var(--badge-color-secondary);
}

.badge--outline {
  background-color: transparent;
  border: .0625rem solid var(--badge-color-primary);
  color: var(--badge-color-primary);
}

.badge--tint {
  background-color: rgb(from var(--badge-color-primary) r g b / var(--opacity-soft));
  border: .0625rem solid transparent;
  color: var(--badge-color-primary);
}

.badge--tint.badge--selected,
.badge--tint.badge--interactive:hover,
.badge--outline.badge--selected,
.badge--outline.badge--interactive:hover {
  background-color: var(--badge-color-primary);
  color: var(--badge-color-secondary);
}

.badge--interactive {
  cursor: pointer;
}

.badge--pill {
  border-radius: var(--radius-full);
}

.badge--rounded {
  border-radius: var(--radius-sm);
}

.badge--circle {
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  min-width: 2em;
  min-height: 2em;
  padding: .5em;
}

.badge--square {
  border-radius: 0;
}

.badge--xs {
  font-size: .5rem;
}

.badge--sm {
  font-size: .625rem;
}

.badge--md {
  font-size: .75rem;
}

.badge--lg {
  font-size: .875rem;
}

.badge--xl {
  font-size: 1rem;
}
