.btn,
.btn--default {
  --btn-color-primary: var(--color-default);
  --btn-color-secondary: var(--color-on-default);
  --btn-color-emphasis: var(--color-default-emphasis);
  --btn-color-subtle: var(--color-default-subtle);
}

.btn--primary {
  --btn-color-primary: var(--color-primary);
  --btn-color-secondary: var(--color-on-primary);
  --btn-color-emphasis: var(--color-primary-emphasis);
  --btn-color-subtle: var(--color-primary-subtle);
}

.btn--secondary {
  --btn-color-primary: var(--color-secondary);
  --btn-color-secondary: var(--color-on-secondary);
  --btn-color-emphasis: var(--color-secondary-emphasis);
  --btn-color-subtle: var(--color-secondary-subtle);
}

.btn--tertiary {
  --btn-color-primary: var(--color-tertiary);
  --btn-color-secondary: var(--color-on-tertiary);
  --btn-color-emphasis: var(--color-tertiary-emphasis);
  --btn-color-subtle: var(--color-tertiary-subtle);
}

.btn--success {
  --btn-color-primary: var(--color-success);
  --btn-color-secondary: var(--color-on-success);
  --btn-color-emphasis: var(--color-success-emphasis);
  --btn-color-subtle: var(--color-success-subtle);
}

.btn--danger {
  --btn-color-primary: var(--color-danger);
  --btn-color-secondary: var(--color-on-danger);
  --btn-color-emphasis: var(--color-danger-emphasis);
  --btn-color-subtle: var(--color-danger-subtle);
}

.btn--warning {
  --btn-color-primary: var(--color-warning);
  --btn-color-secondary: var(--color-on-warning);
  --btn-color-emphasis: var(--color-warning-emphasis);
  --btn-color-subtle: var(--color-warning-subtle);
}

.btn--info {
  --btn-color-primary: var(--color-info);
  --btn-color-secondary: var(--color-on-info);
  --btn-color-emphasis: var(--color-info-emphasis);
  --btn-color-subtle: var(--color-info-subtle);
}

.btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  vertical-align: middle;
  text-decoration: none;
  white-space: nowrap;
  padding: 8px 16px;
  line-height: 20px;
  font-size: 0.875rem;
  font-weight: 500;
  background-color: var(--btn-color-primary);
  border: 1px solid transparent;
  border-radius: 0.5rem;
  color: var(--btn-color-secondary);
  fill: var(--btn-color-secondary);
  transform: scale(1);
  transition: color 200ms, background-color 200ms, transform 200ms;
}

.btn:disabled {
  cursor: not-allowed;
  opacity: var(--opacity-disabled, 0.38);
}

.btn:not(:disabled) {
  cursor: pointer;
}

.btn:hover,
.btn:active,
.btn.active {
  text-decoration: none;
}

.btn:not(.btn--unstyled):not(:disabled):active {
  transform: scale(0.975);
}

.btn:focus-visible {
  outline: -webkit-focus-ring-color auto 1px;
  outline-offset: 1px;
}

.btn--solid {
  background-color: var(--btn-color-primary);
  border-color: transparent;
  color: var(--btn-color-secondary);
  fill: var(--btn-color-secondary);
}

.btn--solid:not(:disabled):hover,
.btn--solid:not(:disabled):active,
.btn--solid:not(:disabled).active {
  background-color: var(--btn-color-emphasis);
}

.btn--outline {
  background-color: transparent;
  border-color: var(--btn-color-primary);
  color: var(--btn-color-primary);
  fill: var(--btn-color-primary);
}

.btn--outline:not(:disabled):hover,
.btn--outline:not(:disabled):active,
.btn--outline:not(:disabled).active {
  background-color: var(--btn-color-primary);
  color: var(--btn-color-secondary);
  fill: var(--btn-color-secondary);
}

.btn--text,
.btn--text:visited {
  background-color: transparent;
  border-color: transparent;
  color: var(--btn-color-primary);
  fill: var(--btn-color-primary);
}

.btn--text:not(:disabled):hover,
.btn--text:not(:disabled):active,
.btn--text:not(:disabled).active {
  background-color: var(--btn-color-subtle);
}

.btn--unstyled {
  background-color: transparent;
  border-color: transparent;
  color: inherit;
  fill: inherit;
}

.btn--rounded-corners {
  border-radius: 0.5rem;
}

.btn--square {
  border-radius: 0;
}

.btn--rounded {
  border-radius: 24px;
}

.btn--circle {
  border-radius: 50%;
}

.btn--sm,
.btn--small {
  padding: 8px 16px;
  font-size: 0.875rem;
}

.btn--sm.btn--rounded,
.btn--small.btn--rounded {
  border-radius: 24px;
}

.btn--sm.btn--circle,
.btn--small.btn--circle,
.btn--sm.btn--icon-only,
.btn--small.btn--icon-only {
  padding: 8px;
}

.btn--md,
.btn--medium {
  padding: 12px 24px;
  font-size: 1rem;
}

.btn--md.btn--rounded,
.btn--medium.btn--rounded {
  border-radius: 32px;
}

.btn--md.btn--circle,
.btn--medium.btn--circle,
.btn--md.btn--icon-only,
.btn--medium.btn--icon-only {
  padding: 12px;
}

.btn--lg,
.btn--large {
  padding: 16px 32px;
  font-size: 1.125rem;
}

.btn--lg.btn--rounded,
.btn--large.btn--rounded {
  border-radius: 40px;
}

.btn--lg.btn--circle,
.btn--large.btn--circle,
.btn--lg.btn--icon-only,
.btn--large.btn--icon-only {
  padding: 16px;
}

.btn > .icon-wrapper {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  color: inherit;
  fill: inherit;
}

.btn--sm > .icon-wrapper,
.btn--small > .icon-wrapper {
  max-width: 14px;
  max-height: 14px;
}

.btn--md > .icon-wrapper,
.btn--medium > .icon-wrapper {
  max-width: 16px;
  max-height: 16px;
}

.btn--lg > .icon-wrapper,
.btn--large > .icon-wrapper {
  max-width: 18px;
  max-height: 18px;
}

.btn > .icon-wrapper > .icon {
  color: inherit;
  fill: inherit;
}

.btn--sm > .icon-wrapper > .icon,
.btn--small > .icon-wrapper > .icon {
  font-size: 15px;
}

.btn--md > .icon-wrapper > .icon,
.btn--medium > .icon-wrapper > .icon {
  font-size: 18px;
}

.btn--lg > .icon-wrapper > .icon,
.btn--large > .icon-wrapper > .icon {
  font-size: 21px;
}
