.btn-group {
  position: relative;
  display: inline-flex;
  flex-wrap: wrap;
  vertical-align: middle;
  width: max-content;
  max-width: 100%;
  gap: 8px 16px;
}

.btn-group--horizontal {
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.btn-group--vertical {
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
