.btn,
.btn--default {
  --btn-color-primary: var(--color-default);
  --btn-color-secondary: var(--color-on-default);
}

.btn--primary {
  --btn-color-primary: var(--color-primary);
  --btn-color-secondary: var(--color-on-primary);
}

.btn--secondary {
  --btn-color-primary: var(--color-secondary);
  --btn-color-secondary: var(--color-on-secondary);
}

.btn--success {
  --btn-color-primary: var(--color-success);
  --btn-color-secondary: var(--color-on-success);
}

.btn--danger {
  --btn-color-primary: var(--color-danger);
  --btn-color-secondary: var(--color-on-danger);
}

.btn--warning {
  --btn-color-primary: var(--color-warning);
  --btn-color-secondary: var(--color-on-warning);
}

.btn--info {
  --btn-color-primary: var(--color-info);
  --btn-color-secondary: var(--color-on-info);
}

.btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  vertical-align: middle;
  text-decoration: none;
  white-space: nowrap;
  height: 2.25rem;
  padding: .5rem 1rem;
  font-size: 1rem;
  font-weight: 500;
  background-color: var(--btn-color-primary);
  border: 1px solid transparent;
  border-radius: .375em;
  color: var(--btn-color-secondary);
  fill: var(--btn-color-secondary);
  transform: scale(1);
  transition: color 200ms, background-color 200ms, transform 200ms;
}

.btn:disabled {
  cursor: not-allowed;
  opacity: var(--opacity-disabled, 0.38);
}

.btn:not(:disabled) {
  cursor: pointer;
}

.btn:hover,
.btn:active {
  text-decoration: none;
}

.btn:not(.btn--unstyled):not(:disabled):active {
  transform: scale(0.95);
}

.btn:focus-visible {
  outline: -webkit-focus-ring-color auto 1px;
  outline-offset: 1px;
}

.btn--solid {
  background-color: var(--btn-color-primary);
  border-color: transparent;
  color: var(--btn-color-secondary);
  fill: var(--btn-color-secondary);
}

.btn--solid:not(:disabled):hover,
.btn--solid:not(:disabled):active,
.btn--solid:not(:disabled).active {
  background-color: hsl(from var(--btn-color-primary) h s calc(l - 5));
}

.btn--outline {
  background-color: transparent;
  border-color: var(--btn-color-primary);
  color: var(--btn-color-primary);
  fill: var(--btn-color-primary);
}

.btn--outline:not(:disabled):hover,
.btn--outline:not(:disabled):active,
.btn--outline:not(:disabled).active {
  background-color: var(--btn-color-primary);
  color: var(--btn-color-secondary);
  fill: var(--btn-color-secondary);
}

.btn--text,
.btn--text:visited {
  background-color: transparent;
  border-color: transparent;
  color: var(--btn-color-primary);
  fill: var(--btn-color-primary);
}

.btn--text:not(:disabled):hover,
.btn--text:not(:disabled):active,
.btn--text:not(:disabled).active {
  background-color: rgb(from var(--btn-color-primary) r g b / var(--opacity-soft));
}

.btn--link,
.btn--link:visited {
  background-color: transparent;
  border-color: transparent;
  color: var(--btn-color-primary);
  fill: var(--btn-color-primary);
  text-decoration: underline solid rgb(from var(--btn-color-primary) r g b / var(--opacity-subtle));
}

.btn--link:not(:disabled):hover,
.btn--link:not(:disabled):active,
.btn--link:not(:disabled).active {
  background-color: rgb(from var(--btn-color-primary) r g b / var(--opacity-soft));
  text-decoration: underline solid rgb(from var(--btn-color-primary) r g b / var(--opacity-subtle));
}

.btn--unstyled {
  background-color: transparent;
  border-color: transparent;
  color: inherit;
  fill: inherit;
}

.btn--square {
  border-radius: 0;
}

.btn--rounded {
  border-radius: .375em;
}

.btn--pill {
  border-radius: 9999px;
}

.btn--circle {
  border-radius: 50%;
}

.btn--xs {
  height: 1.5rem;
  padding: .25rem .5rem;
  font-size: .75rem;
}

.btn--sm {
  height: 1.875rem;
  padding: .375rem .75rem;
  font-size: .875rem;
}

.btn--md {
  height: 2.25rem;
  padding: .5rem 1rem;
  font-size: 1rem;
}

.btn--lg {
  height: 2.625rem;
  padding: .75rem 1.5rem;
  font-size: 1.125rem;
}

.btn--xl {
  height: 3rem;
  padding: 1rem 2rem;
  font-size: 1.25rem;
}

.btn--icon-only {
  aspect-ratio: 1 / 1;
  padding: 0;
}

.btn .icon {
  color: inherit;
  fill: inherit;
}

.btn .icon svg {
  transition: fill 200ms;
}

.btn .icon-wrapper {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  color: inherit;
  fill: inherit;
  max-width: 1em;
  max-height: 1em;
}

.btn--icon-leading .icon-wrapper {
  margin-left: calc(var(--spacing-sm) / -2);
  margin-right: var(--spacing-sm);
}

.btn--icon-leading.btn--xs .icon-wrapper {
  margin-left: calc(var(--spacing-xxs) / -2);
  margin-right: var(--spacing-xxs);
}

.btn--icon-leading.btn--sm .icon-wrapper {
  margin-left: calc(var(--spacing-xs) / -2);
  margin-right: var(--spacing-xs);
}

.btn--icon-trailing .icon-wrapper {
  margin-right: calc(var(--spacing-sm) / -2);
  margin-left: var(--spacing-sm);
}

.btn--icon-trailing.btn--xs .icon-wrapper {
  margin-right: calc(var(--spacing-xxs) / -2);
  margin-left: var(--spacing-xxs);
}

.btn--icon-trailing.btn--sm .icon-wrapper {
  margin-right: calc(var(--spacing-xs) / -2);
  margin-left: var(--spacing-xs);
}
