.btn-group {
  position: relative;
  display: inline-flex;
  flex-wrap: wrap;
  vertical-align: middle;
  width: max-content;
  max-width: 100%;
}

.btn-group--horizontal {
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.btn-group--vertical {
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.btn-group--spacing.btn-group--horizontal > button,
.btn-group--spacing.btn-group--horizontal > .btn {
  margin-top: 8px;
  margin-bottom: 8px;
}

.btn-group--spacing.btn-group--horizontal > button:not(:last-child),
.btn-group--spacing.btn-group--horizontal > .btn:not(:last-child) {
  margin-right: 16px;
}

.btn-group--spacing.btn-group--vertical > button,
.btn-group--spacing.btn-group--vertical > .btn {
  margin-left: 8px;
  margin-right: 8px;
}

.btn-group--spacing.btn-group--vertical > button:not(:last-child)
.btn-group--spacing.btn-group--vertical > .btn:not(:last-child) {
  margin-bottom: 16px;
}
