.btn-group {
  position: relative;
  display: inline-flex;
  flex-wrap: wrap;
  vertical-align: middle;
  width: max-content;
  max-width: 100%;
  gap: var(--spacing-md);
}

.btn-group--horizontal {
  flex-direction: row;
  justify-content: flex-start;
}

.btn-group--vertical {
  flex-direction: column;
  justify-content: center;
}
