.cookie-consent {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: var(--z-index-fixed);
  background-color: var(--color-background);
  box-shadow: 0 -4px 6px -1px rgb(from var(--color-shadow) r g b / 0.1), 0 -2px 4px -2px rgb(from var(--color-shadow) r g b / 0.1);
}

.cookie-consent__container {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
}

.cookie-consent__text {
  text-wrap: pretty;
  margin: var(--spacing-lg);
}

.cookie-consent__text > a,
.cookie-consent__text > a:visited,
.cookie-consent__text > a:hover {
  font-weight: 400;
}

.cookie-consent__button {
  height: auto;
}

.cookie-consent__button:not(.cookie-consent__button--unstyled):not(:disabled):active {
  transform: none;
}

@media (max-width: 768px) {
  .cookie-consent__container {
    align-items: center;
  }

  .cookie-consent__button {
    margin-right: var(--spacing-lg);
  }
}

@media not screen {
  .cookie-consent {
    display: none;
  }
}
