.drawer,
.drawer--sm {
  --drawer-size: 16rem;
}

.drawer--md {
  --drawer-size: 24rem;
}

.drawer--lg {
  --drawer-size: 32rem;
}

.drawer__dialog.overlay__dialog {
  position: absolute;
  max-width: 100vw;
  max-height: 100vh;
  background-color: var(--color-background);
  box-shadow: .25rem 0 .5rem rgba(0, 0, 0, 10%);
  color: var(--color-foreground);
}

.drawer--left .drawer__dialog,
.drawer--right .drawer__dialog {
  width: var(--drawer-size);
  height: 100%;
}

.drawer--top .drawer__dialog,
.drawer--bottom .drawer__dialog {
  width: 100%;
  height: var(--drawer-size);
}

.drawer--left .drawer__dialog {
  left: 0;
  margin-right: auto;
}

.drawer--right .drawer__dialog {
  right: 0;
  margin-left: auto;
}

.drawer--top .drawer__dialog {
  top: 0;
  margin-bottom: auto;
}

.drawer--bottom .drawer__dialog {
  bottom: 0;
  margin-top: auto;
}

.drawer.overlay--animated .drawer__dialog {
  transition: transform 200ms;
}

.drawer.overlay--open .drawer__dialog  {
  transform: translate(0, 0);
}

.drawer--left.overlay--closed .drawer__dialog  {
  transform: translateX(calc(-1 * var(--drawer-size)));
}

.drawer--right.overlay--closed .drawer__dialog  {
  transform: translateX(var(--drawer-size));
}

.drawer--top.overlay--closed .drawer__dialog  {
  transform: translateY(calc(-1 * var(--drawer-size)));
}

.drawer--bottom.overlay--closed .drawer__dialog  {
  transform: translateY(var(--drawer-size));
}
