.drawer,
.drawer--sm {
  --drawer-size: 16rem;
}

.drawer--md {
  --drawer-size: 24rem;
}

.drawer--lg {
  --drawer-size: 32rem;
}

.drawer {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  background: none !important;
  z-index: var(--z-index-fixed);
}

.drawer__overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  background-color: var(--color-black, black);
  opacity: var(--opacity-scrim);
  z-index: var(--z-index-overlay);
}

.drawer__container {
  position: absolute;
  max-width: 100vw;
  max-height: 100vh;
  color: var(--color-foreground);
  background-color: var(--color-background);
  box-shadow: .25rem 0 .5rem rgba(0, 0, 0, 10%);
  z-index: var(--z-index-menu);
}

[data-theme="dark"] .drawer__container,
[data-theme="high-contrast"] .drawer__container {
  box-shadow: none;
}

.drawer--left .drawer__container,
.drawer--right .drawer__container {
  width: var(--drawer-size);
  height: 100%;
}

.drawer--top .drawer__container,
.drawer--bottom .drawer__container {
  width: 100%;
  height: var(--drawer-size);
}

.drawer--left .drawer__container {
  left: 0;
  margin-right: auto;
}

.drawer--right .drawer__container {
  right: 0;
  margin-left: auto;
}

.drawer--top .drawer__container {
  top: 0;
  margin-bottom: auto;
}

.drawer--bottom .drawer__container {
  bottom: 0;
  margin-top: auto;
}

.drawer--animated {
  transition: visibility 200ms;
}

.drawer--animated .drawer__overlay {
  transition: opacity 200ms;
}

.drawer--animated .drawer__container {
  transition: transform 200ms;
}

.drawer--open {
  pointer-events: all;
  visibility: visible;
}

.drawer--open .drawer__overlay  {
  opacity: var(--opacity-scrim);
}

.drawer--open .drawer__container  {
  transform: translate(0, 0);
}

.drawer--closed {
  pointer-events: none;
  visibility: hidden;
}

.drawer--closed .drawer__overlay  {
  opacity: 0;
}

.drawer--closed.drawer--left .drawer__container  {
  transform: translateX(calc(-1 * var(--drawer-size)));
}

.drawer--closed.drawer--right .drawer__container  {
  transform: translateX(var(--drawer-size));
}

.drawer--closed.drawer--top .drawer__container  {
  transform: translateY(calc(-1 * var(--drawer-size)));
}

.drawer--closed.drawer--bottom .drawer__container  {
  transform: translateY(var(--drawer-size));
}
