.image-gallery {
  position: relative;
  display: grid;
  justify-items: center;
  column-gap: var(--spacing-md);
  row-gap: var(--spacing-md);
  margin-top: var(--spacing-md);
  margin-bottom: var(--spacing-md);
}

.image-gallery .thumbnail.full-width {
  grid-column: 1 / -1;
}

@media (max-width: 767px) {
  .image-gallery {
    row-gap: var(--spacing-sm);
    column-gap: var(--spacing-sm);
  }
}
