.input-wrapper {
  position: relative;
  display: inline-flex;
  align-items: center;
  vertical-align: middle;
  border: .0625rem solid var(--color-border);
  border-radius: var(--radius-sm);
  padding: var(--spacing-sm);
  height: 2.25rem;
}

.input-wrapper.focused {
  border-color: var(--color-primary);
}

.input-wrapper.disabled {
  cursor: not-allowed;
  opacity: var(--opacity-disabled);
}

.input-wrapper--xs {
  height: 1.875rem;
}

.input-wrapper--sm {
  height: 2.25rem;
}

.input-wrapper--md {
  height: 2.625rem;
}

.input-wrapper--lg {
  height: 3rem;
}

.input-wrapper--xl {
  height: 3.375rem;
}

.input-wrapper__input {
  border: none;
  border-radius: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

.input-wrapper__input:disabled {
  opacity: 1;
}

.input-wrapper--icon-leading {
  flex-direction: row-reverse;
}

.input-wrapper--icon-trailing {
  flex-direction: row;
}

.input-wrapper__icon {
  pointer-events: none;
  font-size: 1.125rem;
  color: rgb(from var(--color-foreground) r g b / var(--opacity-muted));
}

.input-wrapper--icon-leading .input-wrapper__icon {
  margin-right: var(--spacing-xxs);
}

.input-wrapper--icon-trailing .input-wrapper__icon {
  margin-left: var(--spacing-xxs);
}
