.input-wrapper {
  position: relative;
  display: inline-flex;
  align-items: center;
  vertical-align: middle;
  border: 1px solid var(--color-border);
  border-radius: 0.25rem;
  padding: 8px;
  height: 36px;
}

.input-wrapper.focused {
  border-color: var(--color-primary);
}

.input-wrapper.disabled {
  cursor: not-allowed;
  opacity: var(--opacity-disabled, 0.38);
}

.input-wrapper.disabled > input:disabled {
  opacity: 1;
}

.input-wrapper > input {
  border: none;
  border-radius: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

.input-wrapper > .icon {
  pointer-events: none;
  font-size: 18px;
  color: rgb(from var(--color-foreground) r g b / var(--opacity-inactive));
}

.input-wrapper--icon-left {
  flex-direction: row-reverse;
}

.input-wrapper--icon-left > .icon {
  margin-right: 4px;
}

.input-wrapper--icon-right {
  flex-direction: row;
}

.input-wrapper--icon-right > .icon {
  margin-left: 4px;
}

.input-wrapper--sm,
.input-wrapper--small {
  height: 36px;
}

.input-wrapper--md,
.input-wrapper--medium {
  height: 42px;
}

.input-wrapper--lg,
.input-wrapper--large {
  height: 48px;
}
