.lightbox {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  background: none !important;
  z-index: var(--z-index-fixed);
}

.lightbox .overlay__scrim {
  opacity: var(--opacity-subtle);
}

.lightbox__dialog {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: min(10vw, 8rem);
}

.lightbox__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 100%;
  max-height: 100%;
}

.lightbox__buttons {
  position: absolute;
  width: 100%;
  height: 100%;
}

.lightbox__next,
.lightbox__previous,
.lightbox__close {
  color: hsl(from var(--color-on-white) h s calc(l + 25));
}

.lightbox__next,
.lightbox__previous {
  position: absolute;
  top: 50%;
  width: min(10vw, 8rem);
  height: 100%;
  transform: translateY(-50%);
  aspect-ratio: auto;
}

.lightbox__next:disabled,
.lightbox__previous:disabled {
  opacity: 0;
}

.lightbox__previous {
  left: 0;
}

.lightbox__next {
  right: 0;
}

.lightbox__close {
  position: absolute;
  top: 0;
  right: 0;
  width: min(10vw, 8rem);
  height: min(10vw, 8rem);
}

.lightbox__pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: var(--spacing-xl);
  gap: var(--spacing-sm);
}

.lightbox__pagination-dot {
  width: var(--spacing-lg);
  height: var(--spacing-lg);
  border-radius: 50%;
  background-color: hsl(from var(--color-on-white) h s calc(l + 25));
  opacity: var(--opacity-disabled);
}

.lightbox__pagination-dot.selected {
  opacity: 1;
}

.lightbox > .overlay__scrim.bg-white + .lightbox__dialog .lightbox__pagination-dot,
[data-theme="light"] .lightbox > .overlay__scrim.bg-background + .lightbox__dialog .lightbox__pagination-dot {
  background-color: hsl(from var(--color-on-white) h s calc(l + 25));
}

.lightbox > .overlay__scrim.bg-black + .lightbox__dialog .lightbox__pagination-dot,
[data-theme="dark"] .lightbox > .overlay__scrim.bg-background + .lightbox__dialog .lightbox__pagination-dot,
[data-theme="high-contrast"] .lightbox > .overlay__scrim.bg-background + .lightbox__dialog .lightbox__pagination-dot {
  background-color: hsl(from var(--color-on-black) h s calc(l - 25));
}

.lightbox > .overlay__scrim.bg-white + .lightbox__dialog .lightbox__next,
.lightbox > .overlay__scrim.bg-white + .lightbox__dialog .lightbox__previous,
.lightbox > .overlay__scrim.bg-white + .lightbox__dialog .lightbox__close,
[data-theme="light"] .lightbox > .overlay__scrim.bg-background + .lightbox__dialog .lightbox__next,
[data-theme="light"] .lightbox > .overlay__scrim.bg-background + .lightbox__dialog .lightbox__previous,
[data-theme="light"] .lightbox > .overlay__scrim.bg-background + .lightbox__dialog .lightbox__close {
  color: hsl(from var(--color-on-white) h s calc(l + 25));
}

.lightbox > .overlay__scrim.bg-black + .lightbox__dialog .lightbox__next,
.lightbox > .overlay__scrim.bg-black + .lightbox__dialog .lightbox__previous,
.lightbox > .overlay__scrim.bg-black + .lightbox__dialog .lightbox__close,
[data-theme="dark"] .lightbox > .overlay__scrim.bg-background + .lightbox__dialog .lightbox__next,
[data-theme="dark"] .lightbox > .overlay__scrim.bg-background + .lightbox__dialog .lightbox__previous,
[data-theme="dark"] .lightbox > .overlay__scrim.bg-background + .lightbox__dialog .lightbox__close,
[data-theme="high-contrast"] .lightbox > .overlay__scrim.bg-background + .lightbox__dialog .lightbox__next,
[data-theme="high-contrast"] .lightbox > .overlay__scrim.bg-background + .lightbox__dialog .lightbox__previous,
[data-theme="high-contrast"] .lightbox > .overlay__scrim.bg-background + .lightbox__dialog .lightbox__close {
  color: hsl(from var(--color-on-black) h s calc(l - 25));
}
