.link,
.link:hover,
.link:visited {
  color: var(--color-primary, inherit);
  font-weight: 500;
  text-decoration: underline solid transparent;
  text-underline-offset: var(--spacing-xxxs);
  transition: text-decoration-color 100ms;
}

.link:hover,
.link--underline,
.link--underline:hover,
.link--underline:visited {
  text-decoration: underline solid currentColor;
}
