.link,
.link:hover,
.link:visited {
  color: var(--color-primary, inherit);
  font-weight: 500;
  text-decoration: underline solid transparent;
  text-underline-offset: var(--spacing-xxxs);
  transition: text-decoration-color 150ms;
}

.link:hover,
.link--underlined,
.link--underlined:hover,
.link--underlined:visited {
  text-decoration: underline solid currentColor;
}
