.loading-spinner {
  --loading-spinner-thickness: 0.25rem;
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: visible;
  width: 2rem;
  height: 2rem;
  pointer-events: none;
}

.loading-spinner--xs {
  --loading-spinner-thickness: 0.125rem;
  width: 1rem;
  height: 1rem;
}

.loading-spinner--sm {
  --loading-spinner-thickness: 0.1875rem;
  width: 1.5rem;
  height: 1.5rem;
}

.loading-spinner--md {
  --loading-spinner-thickness: 0.25rem;
  width: 2rem;
  height: 2rem;
}

.loading-spinner--lg {
  --loading-spinner-thickness: 0.375rem;
  width: 3rem;
  height: 3rem;
}

.loading-spinner--xl {
  --loading-spinner-thickness: 0.5rem;
  width: 4rem;
  height: 4rem;
}

.loading-spinner > div {
  display: block;
  box-sizing: border-box;
  position: absolute;
  width: 100%;
  height: 100%;
  border: var(--loading-spinner-thickness) solid var(--color-surface-9);
  border-color: var(--color-surface-9) transparent transparent transparent;
  border-radius: 50%;
  animation: loading-spinner-animation 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
}

.loading-spinner > div:nth-child(1) {
  animation-delay: -450ms;
}

.loading-spinner > div:nth-child(2) {
  animation-delay: -300ms;
}

.loading-spinner > div:nth-child(3) {
  animation-delay: -150ms;
}

@keyframes loading-spinner-animation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
