.logo {
  display: inline-block;
  fill: var(--color-foreground);
}

.logo--xs,
.logo--extraSmall {
  height: 2em;
}

.logo--sm,
.logo--small {
  height: 3em;
}

.logo--md,
.logo--medium {
  height: 4em;
}

.logo--lg,
.logo--large {
  height: 5em;
}

.logo--xl,
.logo--extraLarge {
  height: 6em;
}

.logo svg {
  height: 100%;
  fill: inherit;
}

.logo img {
  height: 100%;
}

.logo button {
  height: 100%;
  pointer-events: all !important;
  cursor: pointer;
}

.logo button:focus-visible {
  outline-offset: -16px;
}
