.logo {
  display: inline-block;
  fill: var(--color-foreground);
}

.logo--xs {
  height: 2rem;
}

.logo--sm {
  height: 3rem;
}

.logo--md {
  height: 4rem;
}

.logo--lg {
  height: 6rem;
}

.logo--xl {
  height: 8rem;
}

.logo svg {
  height: 100%;
  fill: inherit;
}

.logo img {
  height: 100%;
}
