.modal {
  overflow-x: hidden;
  overflow-y: auto;
}

.modal__dialog {
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  min-height: 80vh;
  max-width: 508px;
  margin: 10vh max(calc((100vw - 508px) / 2), 5vw);
  pointer-events: none;
}

.modal--sm .modal__dialog {
  max-width: 508px;
  margin: 10vh max(calc((100vw - 508px) / 2), 5vw);
}

.modal--md .modal__dialog {
  max-width: 688px;
  margin: 10vh max(calc((100vw - 688px) / 2), 5vw);
}

.modal--lg .modal__dialog {
  max-width: 928px;
  margin: 10vh max(calc((100vw - 928px) / 2), 5vw);
}

.modal--xl .modal__dialog {
  max-width: 1108px;
  margin: 10vh max(calc((100vw - 1108px) / 2), 5vw);
}

.modal--fluid .modal__dialog {
  max-width: 100%;
  margin: 10vh 5vw;
}

.modal__content {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: var(--color-background);
  background-clip: padding-box;
  border: .0625rem solid var(--color-border);
  border-radius: var(--radius-lg);
  color: var(--color-foreground);
  outline: none;
  overflow: hidden;
  pointer-events: all;
}

.modal__body {
  position: relative;
  flex: 1 1 auto;
  padding: var(--spacing-xl);
}

.modal__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--spacing-lg) var(--spacing-xl);
  border-bottom: .0625rem solid var(--color-border);
}

.modal__footer {
  display: flex;
  align-items: center;
  padding: var(--spacing-lg) var(--spacing-xl);
  border-top: .0625rem solid var(--color-border);
}

.modal__footer--left-aligned {
  justify-content: flex-start;
}

.modal__footer--right-aligned {
  justify-content: flex-end;
}

.modal__close-button {
  margin-top: -1em;
  margin-bottom: -1em;
  color: rgb(from var(--color-foreground) r g b / var(--opacity-muted));
}
