.navbar {
  display: inline-flex;
  justify-content: flex-start;
  align-items: center;
}

.navbar ul {
  display: inline-flex;
  justify-content: space-evenly;
  align-items: center;
  list-style: none;
  padding-inline-start: var(--spacing-lg);
  padding-inline-end: var(--spacing-lg);
  margin-block-start: 0;
  margin-block-end: 0;
}

.navbar li {
  padding-left: var(--spacing-xxs);
  padding-right: var(--spacing-xxs);
}
