.navmenu {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  background: none !important;
  z-index: var(--z-index-fixed);
}

.navmenu__overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: var(--color-background);
  z-index: var(--z-index-overlay);
}

.navmenu__container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: calc(100% - 10vw);
  height: calc(100% - 10vh);
  margin: 5vh 5vw;
  z-index: var(--z-index-menu);
  overflow-y: auto;
}

.navmenu__list {
  margin: 0 var(--spacing-md);
  font-weight: 600;
  font-size: 2rem;
  line-height: 1.25;
  text-align: center;
  list-style: none;
  white-space: nowrap;
}

.navmenu__item {
  color: var(--color-foreground);
  margin-bottom: var(--spacing-lg);
  transition: opacity 200ms;
}

.navmenu__item > a {
  color: inherit;
  font-weight: 600;
  border-bottom: none !important;
}

.navmenu__socials {
  fill: var(--color-foreground);
}

.navmenu__close {
  position: absolute;
  top: 0;
  right: 0;
}

.navmenu--open {
  pointer-events: all;
  visibility: visible;
}

.navmenu--closed {
  pointer-events: none;
  visibility: hidden;
}

.navmenu--animated {
  transition: visibility 200ms;
}

.navmenu--animated .navmenu__overlay,
.navmenu--animated .navmenu__item {
  transition: opacity 200ms;
}

.navmenu--animated.navmenu--open .navmenu__overlay,
.navmenu--animated.navmenu--open .navmenu__item {
  opacity: 1;
}

.navmenu--animated.navmenu--closed .navmenu__overlay,
.navmenu--animated.navmenu--closed .navmenu__item {
  opacity: 0;
}

@media (hover: hover) {
  .navmenu__list:hover .navmenu__item {
    opacity: var(--opacity-muted);
  }

  .navmenu__item:hover {
    opacity: 1 !important;
  }
}

@media (min-width: 360px) {
  .navmenu__list {
    font-size: 2.5rem;
  }
}

@media (min-width: 576px) {
  .navmenu__list {
    font-size: 2.75rem;
  }
}

@media (min-width: 768px) {
  .navmenu__list {
    font-size: 3rem;
  }
}
