.pagination {
  display: inline-flex;
  justify-content: flex-start;
  align-items: center;
}

.pagination__page-button,
.pagination__ellipsis,
.pagination--buttons .pagination__next-button,
.pagination--buttons .pagination__prev-button {
  aspect-ratio: 1 / 1;
  padding: 0;
}

.pagination__ellipsis,
.pagination__ellipsis:disabled {
  cursor: default;
}

.pagination > .btn + .btn {
  margin-left: .5em;
}
