.pagination {
  display: inline-flex;
  justify-content: flex-start;
  align-items: center;
}

.pagination > .btn {
  aspect-ratio: 1 / 1;
  height: 2.25rem;
  padding: 0;
  border-radius: var(--radius-sm);
}

.pagination--xs > .btn {
  height: 1.875rem;
}

.pagination--sm > .btn {
  height: 2.25rem;
}

.pagination--md > .btn {
  height: 2.625rem;
}

.pagination--lg > .btn {
  height: 3rem;
}

.pagination--xl > .btn {
  height: 3.375rem;
}

.pagination > .btn + .btn {
  margin-left: var(--spacing-sm);
}
