.progressive-image {
  display: inline-block;
  position: relative;
  box-sizing: content-box;
  height: auto;
  max-width: 100%;
}

.progressive-image__placeholder {
  position: absolute;
  top: 0;
  left: 0;
  clip-path: inset(0);
  opacity: 1;
}

.progressive-image__placeholder--blurred {
  filter: blur(1px);
}

.progressive-image--animated .progressive-image__placeholder,
.progressive-image--animated.progressive-image--no-placeholder .progressive-image__source {
  transition: opacity ease-in 300ms, visibility ease-in 300ms;
}

.progressive-image--loaded .progressive-image__placeholder,
.progressive-image--no-placeholder:not(.progressive-image--loaded) .progressive-image__source {
  opacity: 0;
  visibility: hidden;
}

.progressive-image--no-placeholder.progressive-image--loaded .progressive-image__source {
  opacity: 1;
  visibility: visible;
}
