.social-icons {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  max-width: 100%;
}

.social-icons ul {
  display: flex;
  align-items: center;
  list-style: none;
  padding-inline-start: 0;
  padding-inline-end: 0;
  margin-block-start: 0;
  margin-block-end: 0;
}

.social-icons li {
  transition: opacity 200ms;
}

@media (hover: hover) {
  .social-icons ul:hover li {
    opacity: var(--opacity-disabled);
  }

  .social-icons li:hover {
    opacity: 1 !important;
  }
}
