.social-button.btn--icon-leading .icon {
  margin-left: 0;
}

.social-button.btn--icon-trailing .icon {
  margin-right: 0;
}

.social-button.paypal path {
  transition: fill 100ms;
}

.social-button.paypal:hover:not(:disabled) path:nth-child(4),
.social-button.paypal:focus:not(:disabled) path:nth-child(4),
.social-button.paypal:active:not(:disabled) path:nth-child(4) {
  fill: #8bcdeb;
}

.social-button.paypal:hover:not(:disabled) path:nth-child(5),
.social-button.paypal:focus:not(:disabled) path:nth-child(5),
.social-button.paypal:active:not(:disabled) path:nth-child(5) {
  fill: #fff;
}
