.social-icons ul {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.social-icons li {
  line-height: 0;
  transition: opacity 200ms;
}

@media (hover: hover) {
  .social-icons ul:hover li {
    opacity: var(--opacity-disabled);
  }

  .social-icons li:hover {
    opacity: 1 !important;
  }
}
