.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  display: block;
  line-height: 1.25;
  font-weight: 600;
  margin: 0;
}

.display-1,
.display-2,
.display-3,
.display-4,
.display-5,
.display-6 {
  display: block;
  line-height: 1.25;
  font-weight: 600;
  margin: 0;
}

.eyebrow {
  display: block;
  font-weight: 600;
  font-size: .75rem;
  text-transform: uppercase;
  letter-spacing: 0;
  color: rgb(from var(--color-foreground) r g b / var(--opacity-muted));
}

.subtitle {
  display: block;
  font-weight: 600;
  white-space: nowrap;
  color: rgb(from var(--color-foreground) r g b / var(--opacity-subtle));
}
