.border-spacing-0 { border-spacing: 0; }
.border-spacing-1px { border-spacing: 1px; }
.border-spacing-xxxs { border-spacing: var(--spacing-xxxs); }
.border-spacing-xxs { border-spacing: var(--spacing-xxs); }
.border-spacing-xs { border-spacing: var(--spacing-xs); }
.border-spacing-sm { border-spacing: var(--spacing-sm); }
.border-spacing-md { border-spacing: var(--spacing-md); }
.border-spacing-lg { border-spacing: var(--spacing-lg); }
.border-spacing-xl { border-spacing: var(--spacing-xl); }
.border-spacing-xxl { border-spacing: var(--spacing-xxl); }
.border-spacing-xxxl { border-spacing: var(--spacing-xxxl); }
.border-spacing-2xl { border-spacing: var(--spacing-2xl); }
.border-spacing-2xxl { border-spacing: var(--spacing-2xxl); }
.border-spacing-2xxxl { border-spacing: var(--spacing-2xxxl); }
