.flex-wrap { flex-wrap: wrap; }
.flex-wrap-reverse { flex-wrap: wrap-reverse; }
.flex-nowrap { flex-wrap: nowrap; }

@media (min-width: 576px) {
  .sm\:flex-wrap { flex-wrap: wrap; }
  .sm\:flex-wrap-reverse { flex-wrap: wrap-reverse; }
  .sm\:flex-nowrap { flex-wrap: nowrap; }
}

@media (min-width: 768px) {
  .md\:flex-wrap { flex-wrap: wrap; }
  .md\:flex-wrap-reverse { flex-wrap: wrap-reverse; }
  .md\:flex-nowrap { flex-wrap: nowrap; }
}

@media (min-width: 992px) {
  .lg\:flex-wrap { flex-wrap: wrap; }
  .lg\:flex-wrap-reverse { flex-wrap: wrap-reverse; }
  .lg\:flex-nowrap { flex-wrap: nowrap; }
}

@media (min-width: 1200px) {
  .xl\:flex-wrap { flex-wrap: wrap; }
  .xl\:flex-wrap-reverse { flex-wrap: wrap-reverse; }
  .xl\:flex-nowrap { flex-wrap: nowrap; }
}
