.justify-self-auto { justify-self: auto; }
.justify-self-normal { justify-self: normal; }
.justify-self-start { justify-self: flex-start; }
.justify-self-end { justify-self: flex-end; }
.justify-self-center { justify-self: center; }
.justify-self-baseline { justify-self: baseline; }
.justify-self-stretch { justify-self: stretch; }
