.scroll-p-0 { scroll-padding: 0; }
.scroll-p-1px { scroll-padding: 1px; }
.scroll-p-xxxs { scroll-padding: var(--spacing-xxxs); }
.scroll-p-xxs { scroll-padding: var(--spacing-xxs); }
.scroll-p-xs { scroll-padding: var(--spacing-xs); }
.scroll-p-sm { scroll-padding: var(--spacing-sm); }
.scroll-p-md { scroll-padding: var(--spacing-md); }
.scroll-p-lg { scroll-padding: var(--spacing-lg); }
.scroll-p-xl { scroll-padding: var(--spacing-xl); }
.scroll-p-xxl { scroll-padding: var(--spacing-xxl); }
.scroll-p-xxxl { scroll-padding: var(--spacing-xxxl); }
.scroll-p-2xl { scroll-padding: var(--spacing-2xl); }
.scroll-p-2xxl { scroll-padding: var(--spacing-2xxl); }
.scroll-p-2xxxl { scroll-padding: var(--spacing-2xxxl); }
