.scroll-m-0 { scroll-margin: 0; }
.scroll-m-1px { scroll-margin: 1px; }
.scroll-m-xxxs { scroll-margin: var(--spacing-xxxs); }
.scroll-m-xxs { scroll-margin: var(--spacing-xxs); }
.scroll-m-xs { scroll-margin: var(--spacing-xs); }
.scroll-m-sm { scroll-margin: var(--spacing-sm); }
.scroll-m-md { scroll-margin: var(--spacing-md); }
.scroll-m-lg { scroll-margin: var(--spacing-lg); }
.scroll-m-xl { scroll-margin: var(--spacing-xl); }
.scroll-m-xxl { scroll-margin: var(--spacing-xxl); }
.scroll-m-xxxl { scroll-margin: var(--spacing-xxxl); }
.scroll-m-2xl { scroll-margin: var(--spacing-2xl); }
.scroll-m-2xxl { scroll-margin: var(--spacing-2xxl); }
.scroll-m-2xxxl { scroll-margin: var(--spacing-2xxxl); }
