.m-auto { margin: auto; }
.m-0 { margin: 0; }
.m-1px { margin: 1px; }
.m-1em { margin: 1em; }
.m-2em { margin: 2em; }
.m-3em { margin: 3em; }
.m-4em { margin: 4em; }
.m-5em { margin: 5em; }
.m-6em { margin: 6em; }
.m-7em { margin: 7em; }
.m-8em { margin: 8em; }
.m-1rem { margin: 1rem; }
.m-2rem { margin: 2rem; }
.m-3rem { margin: 3rem; }
.m-4rem { margin: 4rem; }
.m-5rem { margin: 5rem; }
.m-6rem { margin: 6rem; }
.m-7rem { margin: 7rem; }
.m-8rem { margin: 8rem; }
.m-xxxs { margin: var(--spacing-xxxs); }
.m-xxs { margin: var(--spacing-xxs); }
.m-xs { margin: var(--spacing-xs); }
.m-sm { margin: var(--spacing-sm); }
.m-md { margin: var(--spacing-md); }
.m-lg { margin: var(--spacing-lg); }
.m-xl { margin: var(--spacing-xl); }
.m-xxl { margin: var(--spacing-xxl); }
.m-xxxl { margin: var(--spacing-xxxl); }
.m-2xl { margin: var(--spacing-2xl); }
.m-2xxl { margin: var(--spacing-2xxl); }
.m-2xxxl { margin: var(--spacing-2xxxl); }

.ml-auto { margin-left: auto; }
.ml-0 { margin-left: 0; }
.ml-1px { margin-left: 1px; }
.ml-1em { margin-left: 1em; }
.ml-2em { margin-left: 2em; }
.ml-3em { margin-left: 3em; }
.ml-4em { margin-left: 4em; }
.ml-5em { margin-left: 5em; }
.ml-6em { margin-left: 6em; }
.ml-7em { margin-left: 7em; }
.ml-8em { margin-left: 8em; }
.ml-1rem { margin-left: 1rem; }
.ml-2rem { margin-left: 2rem; }
.ml-3rem { margin-left: 3rem; }
.ml-4rem { margin-left: 4rem; }
.ml-5rem { margin-left: 5rem; }
.ml-6rem { margin-left: 6rem; }
.ml-7rem { margin-left: 7rem; }
.ml-8rem { margin-left: 8rem; }
.ml-xxxs { margin-left: var(--spacing-xxxs); }
.ml-xxs { margin-left: var(--spacing-xxs); }
.ml-xs { margin-left: var(--spacing-xs); }
.ml-sm { margin-left: var(--spacing-sm); }
.ml-md { margin-left: var(--spacing-md); }
.ml-lg { margin-left: var(--spacing-lg); }
.ml-xl { margin-left: var(--spacing-xl); }
.ml-xxl { margin-left: var(--spacing-xxl); }
.ml-xxxl { margin-left: var(--spacing-xxxl); }
.ml-2xl { margin-left: var(--spacing-2xl); }
.ml-2xxl { margin-left: var(--spacing-2xxl); }
.ml-2xxxl { margin-left: var(--spacing-2xxxl); }

.mr-auto { margin-right: auto; }
.mr-0 { margin-right: 0; }
.mr-1px { margin-right: 1px; }
.mr-1em { margin-right: 1em; }
.mr-2em { margin-right: 2em; }
.mr-3em { margin-right: 3em; }
.mr-4em { margin-right: 4em; }
.mr-5em { margin-right: 5em; }
.mr-6em { margin-right: 6em; }
.mr-7em { margin-right: 7em; }
.mr-8em { margin-right: 8em; }
.mr-1rem { margin-right: 1rem; }
.mr-2rem { margin-right: 2rem; }
.mr-3rem { margin-right: 3rem; }
.mr-4rem { margin-right: 4rem; }
.mr-5rem { margin-right: 5rem; }
.mr-6rem { margin-right: 6rem; }
.mr-7rem { margin-right: 7rem; }
.mr-8rem { margin-right: 8rem; }
.mr-xxxs { margin-right: var(--spacing-xxxs); }
.mr-xxs { margin-right: var(--spacing-xxs); }
.mr-xs { margin-right: var(--spacing-xs); }
.mr-sm { margin-right: var(--spacing-sm); }
.mr-md { margin-right: var(--spacing-md); }
.mr-lg { margin-right: var(--spacing-lg); }
.mr-xl { margin-right: var(--spacing-xl); }
.mr-xxl { margin-right: var(--spacing-xxl); }
.mr-xxxl { margin-right: var(--spacing-xxxl); }
.mr-2xl { margin-right: var(--spacing-2xl); }
.mr-2xxl { margin-right: var(--spacing-2xxl); }
.mr-2xxxl { margin-right: var(--spacing-2xxxl); }

.mt-auto { margin-top: auto; }
.mt-0 { margin-top: 0; }
.mt-1px { margin-top: 1px; }
.mt-1em { margin-top: 1em; }
.mt-2em { margin-top: 2em; }
.mt-3em { margin-top: 3em; }
.mt-4em { margin-top: 4em; }
.mt-5em { margin-top: 5em; }
.mt-6em { margin-top: 6em; }
.mt-7em { margin-top: 7em; }
.mt-8em { margin-top: 8em; }
.mt-1rem { margin-top: 1rem; }
.mt-2rem { margin-top: 2rem; }
.mt-3rem { margin-top: 3rem; }
.mt-4rem { margin-top: 4rem; }
.mt-5rem { margin-top: 5rem; }
.mt-6rem { margin-top: 6rem; }
.mt-7rem { margin-top: 7rem; }
.mt-8rem { margin-top: 8rem; }
.mt-xxxs { margin-top: var(--spacing-xxxs); }
.mt-xxs { margin-top: var(--spacing-xxs); }
.mt-xs { margin-top: var(--spacing-xs); }
.mt-sm { margin-top: var(--spacing-sm); }
.mt-md { margin-top: var(--spacing-md); }
.mt-lg { margin-top: var(--spacing-lg); }
.mt-xl { margin-top: var(--spacing-xl); }
.mt-xxl { margin-top: var(--spacing-xxl); }
.mt-xxxl { margin-top: var(--spacing-xxxl); }
.mt-2xl { margin-top: var(--spacing-2xl); }
.mt-2xxl { margin-top: var(--spacing-2xxl); }
.mt-2xxxl { margin-top: var(--spacing-2xxxl); }

.mb-auto { margin-bottom: auto; }
.mb-0 { margin-bottom: 0; }
.mb-1px { margin-bottom: 1px; }
.mb-1em { margin-bottom: 1em; }
.mb-2em { margin-bottom: 2em; }
.mb-3em { margin-bottom: 3em; }
.mb-4em { margin-bottom: 4em; }
.mb-5em { margin-bottom: 5em; }
.mb-6em { margin-bottom: 6em; }
.mb-7em { margin-bottom: 7em; }
.mb-8em { margin-bottom: 8em; }
.mb-1rem { margin-bottom: 1rem; }
.mb-2rem { margin-bottom: 2rem; }
.mb-3rem { margin-bottom: 3rem; }
.mb-4rem { margin-bottom: 4rem; }
.mb-5rem { margin-bottom: 5rem; }
.mb-6rem { margin-bottom: 6rem; }
.mb-7rem { margin-bottom: 7rem; }
.mb-8rem { margin-bottom: 8rem; }
.mb-xxxs { margin-bottom: var(--spacing-xxxs); }
.mb-xxs { margin-bottom: var(--spacing-xxs); }
.mb-xs { margin-bottom: var(--spacing-xs); }
.mb-sm { margin-bottom: var(--spacing-sm); }
.mb-md { margin-bottom: var(--spacing-md); }
.mb-lg { margin-bottom: var(--spacing-lg); }
.mb-xl { margin-bottom: var(--spacing-xl); }
.mb-xxl { margin-bottom: var(--spacing-xxl); }
.mb-xxxl { margin-bottom: var(--spacing-xxxl); }
.mb-2xl { margin-bottom: var(--spacing-2xl); }
.mb-2xxl { margin-bottom: var(--spacing-2xxl); }
.mb-2xxxl { margin-bottom: var(--spacing-2xxxl); }

.mx-auto { margin-left: auto; margin-right: auto; }
.mx-0 { margin-left: 0; margin-right: 0; }
.mx-1px { margin-left: 1px; margin-right: 1px; }
.mx-1em { margin-left: 1em; margin-right: 1em; }
.mx-2em { margin-left: 2em; margin-right: 2em; }
.mx-3em { margin-left: 3em; margin-right: 3em; }
.mx-4em { margin-left: 4em; margin-right: 4em; }
.mx-5em { margin-left: 5em; margin-right: 5em; }
.mx-6em { margin-left: 6em; margin-right: 6em; }
.mx-7em { margin-left: 7em; margin-right: 7em; }
.mx-8em { margin-left: 8em; margin-right: 8em; }
.mx-1rem { margin-left: 1rem; margin-right: 1rem; }
.mx-2rem { margin-left: 2rem; margin-right: 2rem; }
.mx-3rem { margin-left: 3rem; margin-right: 3rem; }
.mx-4rem { margin-left: 4rem; margin-right: 4rem; }
.mx-5rem { margin-left: 5rem; margin-right: 5rem; }
.mx-6rem { margin-left: 6rem; margin-right: 6rem; }
.mx-7rem { margin-left: 7rem; margin-right: 7rem; }
.mx-8rem { margin-left: 8rem; margin-right: 8rem; }
.mx-xxxs { margin-left: var(--spacing-xxxs); margin-right: var(--spacing-xxxs); }
.mx-xxs { margin-left: var(--spacing-xxs); margin-right: var(--spacing-xxs); }
.mx-xs { margin-left: var(--spacing-xs); margin-right: var(--spacing-xs); }
.mx-sm { margin-left: var(--spacing-sm); margin-right: var(--spacing-sm); }
.mx-md { margin-left: var(--spacing-md); margin-right: var(--spacing-md); }
.mx-lg { margin-left: var(--spacing-lg); margin-right: var(--spacing-lg); }
.mx-xl { margin-left: var(--spacing-xl); margin-right: var(--spacing-xl); }
.mx-xxl { margin-left: var(--spacing-xxl); margin-right: var(--spacing-xxl); }
.mx-xxxl { margin-left: var(--spacing-xxxl); margin-right: var(--spacing-xxxl); }
.mx-2xl { margin-left: var(--spacing-2xl); margin-right: var(--spacing-2xl); }
.mx-2xxl { margin-left: var(--spacing-2xxl); margin-right: var(--spacing-2xxl); }
.mx-2xxxl { margin-left: var(--spacing-2xxxl); margin-right: var(--spacing-2xxxl); }

.my-auto { margin-top: auto; margin-bottom: auto; }
.my-0 { margin-top: 0; margin-bottom: 0; }
.my-1px { margin-top: 1px; margin-bottom: 1px; }
.my-1em { margin-top: 1em; margin-bottom: 1em; }
.my-2em { margin-top: 2em; margin-bottom: 2em; }
.my-3em { margin-top: 3em; margin-bottom: 3em; }
.my-4em { margin-top: 4em; margin-bottom: 4em; }
.my-5em { margin-top: 5em; margin-bottom: 5em; }
.my-6em { margin-top: 6em; margin-bottom: 6em; }
.my-7em { margin-top: 7em; margin-bottom: 7em; }
.my-8em { margin-top: 8em; margin-bottom: 8em; }
.my-1rem { margin-top: 1rem; margin-bottom: 1rem; }
.my-2rem { margin-top: 2rem; margin-bottom: 2rem; }
.my-3rem { margin-top: 3rem; margin-bottom: 3rem; }
.my-4rem { margin-top: 4rem; margin-bottom: 4rem; }
.my-5rem { margin-top: 5rem; margin-bottom: 5rem; }
.my-6rem { margin-top: 6rem; margin-bottom: 6rem; }
.my-7rem { margin-top: 7rem; margin-bottom: 7rem; }
.my-8rem { margin-top: 8rem; margin-bottom: 8rem; }
.my-xxxs { margin-top: var(--spacing-xxxs); margin-bottom: var(--spacing-xxxs); }
.my-xxs { margin-top: var(--spacing-xxs); margin-bottom: var(--spacing-xxs); }
.my-xs { margin-top: var(--spacing-xs); margin-bottom: var(--spacing-xs); }
.my-sm { margin-top: var(--spacing-sm); margin-bottom: var(--spacing-sm); }
.my-md { margin-top: var(--spacing-md); margin-bottom: var(--spacing-md); }
.my-lg { margin-top: var(--spacing-lg); margin-bottom: var(--spacing-lg); }
.my-xl { margin-top: var(--spacing-xl); margin-bottom: var(--spacing-xl); }
.my-xxl { margin-top: var(--spacing-xxl); margin-bottom: var(--spacing-xxl); }
.my-xxxl { margin-top: var(--spacing-xxxl); margin-bottom: var(--spacing-xxxl); }
.my-2xl { margin-top: var(--spacing-2xl); margin-bottom: var(--spacing-2xl); }
.my-2xxl { margin-top: var(--spacing-2xxl); margin-bottom: var(--spacing-2xxl); }
.my-2xxxl { margin-top: var(--spacing-2xxxl); margin-bottom: var(--spacing-2xxxl); }
