.space-x-0 > * + * {  margin-left: 0; }
.space-x-1px > * + * {  margin-left: 1px; }
.space-x-xxxs > * + * {  margin-left: var(--spacing-xxxs); }
.space-x-xxs > * + * {  margin-left: var(--spacing-xxs); }
.space-x-xs > * + * {  margin-left: var(--spacing-xs); }
.space-x-sm > * + * {  margin-left: var(--spacing-sm); }
.space-x-md > * + * {  margin-left: var(--spacing-md); }
.space-x-lg > * + * {  margin-left: var(--spacing-lg); }
.space-x-xl > * + * {  margin-left: var(--spacing-xl); }
.space-x-xxl > * + * {  margin-left: var(--spacing-xxl); }
.space-x-xxxl > * + * {  margin-left: var(--spacing-xxxl); }
.space-x-2xl > * + * {  margin-left: var(--spacing-2xl); }
.space-x-2xxl > * + * {  margin-left: var(--spacing-2xxl); }
.space-x-2xxxl > * + * {  margin-left: var(--spacing-2xxxl); }

.space-y-0 > * + * {  margin-top: 0; }
.space-y-1px > * + * {  margin-top: 1px; }
.space-y-xxxs > * + * {  margin-top: var(--spacing-xxxs); }
.space-y-xxs > * + * {  margin-top: var(--spacing-xxs); }
.space-y-xs > * + * {  margin-top: var(--spacing-xs); }
.space-y-sm > * + * {  margin-top: var(--spacing-sm); }
.space-y-md > * + * {  margin-top: var(--spacing-md); }
.space-y-lg > * + * {  margin-top: var(--spacing-lg); }
.space-y-xl > * + * {  margin-top: var(--spacing-xl); }
.space-y-xxl > * + * {  margin-top: var(--spacing-xxl); }
.space-y-xxxl > * + * {  margin-top: var(--spacing-xxxl); }
.space-y-2xl > * + * {  margin-top: var(--spacing-2xl); }
.space-y-2xxl > * + * {  margin-top: var(--spacing-2xxl); }
.space-y-2xxxl > * + * {  margin-top: var(--spacing-2xxxl); }
