.space-x-0 > * + * {  margin-left: 0; }
.space-x-1px > * + * {  margin-left: 1px; }
.space-x-xxxs > * + * {  margin-left: var(--space-xxxs); }
.space-x-xxs > * + * {  margin-left: var(--space-xxs); }
.space-x-xs > * + * {  margin-left: var(--space-xs); }
.space-x-sm > * + * {  margin-left: var(--space-sm); }
.space-x-md > * + * {  margin-left: var(--space-md); }
.space-x-lg > * + * {  margin-left: var(--space-lg); }
.space-x-xl > * + * {  margin-left: var(--space-xl); }
.space-x-xxl > * + * {  margin-left: var(--space-xxl); }
.space-x-xxxl > * + * {  margin-left: var(--space-xxxl); }
.space-x-2xl > * + * {  margin-left: var(--space-2xl); }
.space-x-2xxl > * + * {  margin-left: var(--space-2xxl); }
.space-x-2xxxl > * + * {  margin-left: var(--space-2xxxl); }

.space-y-0 > * + * {  margin-top: 0; }
.space-y-1px > * + * {  margin-top: 1px; }
.space-y-xxxs > * + * {  margin-top: var(--space-xxxs); }
.space-y-xxs > * + * {  margin-top: var(--space-xxs); }
.space-y-xs > * + * {  margin-top: var(--space-xs); }
.space-y-sm > * + * {  margin-top: var(--space-sm); }
.space-y-md > * + * {  margin-top: var(--space-md); }
.space-y-lg > * + * {  margin-top: var(--space-lg); }
.space-y-xl > * + * {  margin-top: var(--space-xl); }
.space-y-xxl > * + * {  margin-top: var(--space-xxl); }
.space-y-xxxl > * + * {  margin-top: var(--space-xxxl); }
.space-y-2xl > * + * {  margin-top: var(--space-2xl); }
.space-y-2xxl > * + * {  margin-top: var(--space-2xxl); }
.space-y-2xxxl > * + * {  margin-top: var(--space-2xxxl); }
