.space-x-0 > * + * {  margin-left: 0; }
.space-x-1px > * + * {  margin-left: 1px; }
.space-x-1em > * + * {  margin-left: 1em; }
.space-x-2em > * + * {  margin-left: 2em; }
.space-x-3em > * + * {  margin-left: 3em; }
.space-x-4em > * + * {  margin-left: 4em; }
.space-x-5em > * + * {  margin-left: 5em; }
.space-x-6em > * + * {  margin-left: 6em; }
.space-x-7em > * + * {  margin-left: 7em; }
.space-x-8em > * + * {  margin-left: 8em; }
.space-x-1rem > * + * {  margin-left: 1rem; }
.space-x-2rem > * + * {  margin-left: 2rem; }
.space-x-3rem > * + * {  margin-left: 3rem; }
.space-x-4rem > * + * {  margin-left: 4rem; }
.space-x-5rem > * + * {  margin-left: 5rem; }
.space-x-6rem > * + * {  margin-left: 6rem; }
.space-x-7rem > * + * {  margin-left: 7rem; }
.space-x-8rem > * + * {  margin-left: 8rem; }
.space-x-xxxs > * + * {  margin-left: var(--space-xxxs); }
.space-x-xxs > * + * {  margin-left: var(--space-xxs); }
.space-x-xs > * + * {  margin-left: var(--space-xs); }
.space-x-sm > * + * {  margin-left: var(--space-sm); }
.space-x-md > * + * {  margin-left: var(--space-md); }
.space-x-lg > * + * {  margin-left: var(--space-lg); }
.space-x-xl > * + * {  margin-left: var(--space-xl); }
.space-x-xxl > * + * {  margin-left: var(--space-xxl); }
.space-x-xxxl > * + * {  margin-left: var(--space-xxxl); }
.space-x-2xl > * + * {  margin-left: var(--space-2xl); }
.space-x-2xxl > * + * {  margin-left: var(--space-2xxl); }
.space-x-2xxxl > * + * {  margin-left: var(--space-2xxxl); }

.space-y-0 > * + * {  margin-top: 0; }
.space-y-1px > * + * {  margin-top: 1px; }
.space-y-1em > * + * {  margin-top: 1em; }
.space-y-2em > * + * {  margin-top: 2em; }
.space-y-3em > * + * {  margin-top: 3em; }
.space-y-4em > * + * {  margin-top: 4em; }
.space-y-5em > * + * {  margin-top: 5em; }
.space-y-6em > * + * {  margin-top: 6em; }
.space-y-7em > * + * {  margin-top: 7em; }
.space-y-8em > * + * {  margin-top: 8em; }
.space-y-1rem > * + * {  margin-top: 1rem; }
.space-y-2rem > * + * {  margin-top: 2rem; }
.space-y-3rem > * + * {  margin-top: 3rem; }
.space-y-4rem > * + * {  margin-top: 4rem; }
.space-y-5rem > * + * {  margin-top: 5rem; }
.space-y-6rem > * + * {  margin-top: 6rem; }
.space-y-7rem > * + * {  margin-top: 7rem; }
.space-y-8rem > * + * {  margin-top: 8rem; }
.space-y-xxxs > * + * {  margin-top: var(--space-xxxs); }
.space-y-xxs > * + * {  margin-top: var(--space-xxs); }
.space-y-xs > * + * {  margin-top: var(--space-xs); }
.space-y-sm > * + * {  margin-top: var(--space-sm); }
.space-y-md > * + * {  margin-top: var(--space-md); }
.space-y-lg > * + * {  margin-top: var(--space-lg); }
.space-y-xl > * + * {  margin-top: var(--space-xl); }
.space-y-xxl > * + * {  margin-top: var(--space-xxl); }
.space-y-xxxl > * + * {  margin-top: var(--space-xxxl); }
.space-y-2xl > * + * {  margin-top: var(--space-2xl); }
.space-y-2xxl > * + * {  margin-top: var(--space-2xxl); }
.space-y-2xxxl > * + * {  margin-top: var(--space-2xxxl); }
