.bg-transparent { background-color: transparent; }
.bg-pure-white { background-color: white; }
.bg-pure-black { background-color: black; }
.bg-white { background-color: var(--color-scale-white, white); }
.bg-black { background-color: var(--color-scale-black, black); }

.transparent { color: transparent; }
.pure-white { color: white; }
.pure-black { color: black; }
.white { color: var(--color-scale-white, white); }
.black { color: var(--color-scale-black, black); }
