.bg-transparent { background-color: transparent; }
.bg-white { background-color: white; }
.bg-black { background-color: black; }
.bg-gray { background-color: gray; }

.transparent { color: transparent; }
.white { color: white; }
.black { color: black; }
.gray { color: gray; }
