html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  scroll-behavior: smooth;
  height: 100%;
}

*, ::before, ::after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

body {
  height: 100%;
  background-color: var(--color-background, white);
}

body.modal-open {
  overflow: hidden;
}
