:root {
  --spacing-base: 8px;
}

:root {
  --font-family-base: "Poppins", "Roboto", "Helvetica", "Arial", sans-serif;
  --font-weight-base: 400;
  --font-size-base: 1rem;
  --line-height-base: 1.5;
}

:root {
  --color-scale-white: #fff;
  --color-scale-black: #101820;

  --color-scale-gray-100: #f1f2f4;
  --color-scale-gray-200: #d5d9dd;
  --color-scale-gray-300: #b9bfc6;
  --color-scale-gray-400: #9da6af;
  --color-scale-gray-500: #818c98;
  --color-scale-gray-600: #67737e;
  --color-scale-gray-700: #505962;
  --color-scale-gray-800: #394046;
  --color-scale-gray-900: #22262a;

  --color-scale-blue-100: #e5f2ff;
  --color-scale-blue-200: #b3d9ff;
  --color-scale-blue-300: #80bfff;
  --color-scale-blue-400: #4da6ff;
  --color-scale-blue-500: #1a8cff;
  --color-scale-blue-600: #0073e6;
  --color-scale-blue-700: #0059b3;
  --color-scale-blue-800: #004080;
  --color-scale-blue-900: #00264d;
}

:root {
  --color-background: var(--color-scale-white);
  --color-body-text: var(--color-scale-black);
  --color-button-primary: var(--color-scale-black);
  --color-button-secondary: var(--color-scale-white);
  --color-copyright: var(--color-scale-gray-600);
  --color-divider: var(--color-scale-gray-600);
  --color-header-decoration: var(--color-scale-blue-600);
  --color-headline-text: var(--color-scale-black);
  --color-link: var(--color-scale-blue-600);
  --color-link-decoration: var(--color-scale-blue-600);
  --color-nav-skin: var(--color-scale-black);
  --color-nav-skin-decoration: var(--color-scale-blue-600);
  --color-page-banner: var(--color-scale-white);
  --color-page-banner: inherit;
  --color-social-icon: inherit;
}
