[theme="black"],
[theme="black"] * {
  --color-theme-background: var(--color-black, black);
  --color-theme-foreground: var(--color-white, white);
}

[theme="dark"],
[theme="dark"] * {
  --color-theme-background: var(--color-dark, black);
  --color-theme-foreground: var(--color-light, white);
  /* contrast correction */
  --color-blue: #2176ff;
  --color-gray: #7e848d;
  --color-primary: var(--color-blue);
  --color-secondary: var(--color-gray);
}

[theme="light"],
[theme="light"] * {
  --color-theme-background: var(--color-light, white);
  --color-theme-foreground: var(--color-dark, black);
  /* contrast correction */
  --color-blue: #1d65d8;
  --color-gray: #656a73;
  --color-primary: var(--color-blue);
  --color-secondary: var(--color-gray);
}

[theme="white"],
[theme="white"] * {
  --color-theme-background: var(--color-white, white);
  --color-theme-foreground: var(--color-black, black);
}

[theme="black"],
[theme="dark"],
[theme="light"],
[theme="White"] {
  background-color: var(--color-theme-background);
  color: var(--color-theme-foreground);
}
