[theme="white"] {
  --theme-body-text-color: var(--dark-color, #181818);
  --theme-headline-text-color: var(--dark-secondary-color, #101010);
  --theme-divider-color: var(--gray, gray);
  --theme-link-color: var(--black, black);
  --theme-link-decoration-color: var(--brand-color, #0086e5);
  --theme-button-primary-color: var(--dark-color, #181818);
  --theme-button-secondary-color: var(--white, white);
  --theme-nav-skin-color: var(--dark-color, #181818);
  --theme-nav-skin-decoration-color: var(--brand-color, #0086e5);
  --theme-page-banner-color: var(--white, white);
  --theme-social-icon-color: initial;

  background-color: var(--white, white);
  color: var(--dark-color, #181818);
}

[theme="light"] {
  --theme-body-text-color: var(--dark-color, #181818);
  --theme-headline-text-color: var(--dark-secondary-color, #101010);
  --theme-divider-color: var(--gray, gray);
  --theme-link-color: var(--black, black);
  --theme-link-decoration-color: var(--brand-color, #0086e5);
  --theme-button-primary-color: var(--dark-color, #181818);
  --theme-button-secondary-color: var(--white, white);
  --theme-nav-skin-color: var(--dark-color, #181818);
  --theme-nav-skin-decoration-color: var(--brand-color, #0086e5);
  --theme-page-banner-color: var(--light-color, #e0e0e0);
  --theme-social-icon-color: initial;

  background-color: var(--white, white);
  color: var(--dark-color, #181818);
}

[theme="dark"] {
  --theme-body-text-color: var(--light-color, #e0e0e0);
  --theme-headline-text-color: var(--white, white);
  --theme-divider-color: var(--gray, gray);
  --theme-link-color: var(--white, white);
  --theme-link-decoration-color: var(--brand-color, #0086e5);
  --theme-button-primary-color: var(--white, white);
  --theme-button-secondary-color: var(--black, black);
  --theme-nav-skin-color: var(--white, white);
  --theme-nav-skin-decoration-color: var(--brand-color, #0086e5);
  --theme-page-banner-color: var(--dark-secondary-color, #101010);
  --theme-social-icon-color: var(--white, white);

  background-color: var(--dark-color, #181818);
  color: var(--light-color, #e0e0e0);
}

[theme="black"] {
  --theme-body-text-color: var(--light-color, #e0e0e0);
  --theme-headline-text-color: var(--white, white);
  --theme-divider-color: var(--gray, gray);
  --theme-link-color: var(--white, white);
  --theme-link-decoration-color: var(--brand-color, #0086e5);
  --theme-button-primary-color: var(--white, white);
  --theme-button-secondary-color: var(--black, black);
  --theme-nav-skin-color: var(--white, white);
  --theme-nav-skin-decoration-color: var(--brand-color, #0086e5);
  --theme-page-banner-color: var(--black, black);
  --theme-social-icon-color: var(--white, white);

  background-color: var(--black, black);
  color: var(--light-color, #e0e0e0);
}

[theme="brand-color"] {
  --theme-body-text-color: var(--light-color, #e0e0e0);
  --theme-headline-text-color: var(--white, white);
  --theme-divider-color: var(--light-secondary-color, #c0c0c0);
  --theme-link-color: var(--white, white);
  --theme-link-decoration-color: var(--light-color, #e0e0e0);
  --theme-button-primary-color: var(--white, white);
  --theme-button-secondary-color: var(--black, black);
  --theme-nav-skin-color: var(--white, white);
  --theme-nav-skin-decoration-color: var(--light-color, #e0e0e0);
  --theme-page-banner-color: var(--brand-color, #0086e5);
  --theme-social-icon-color: var(--white, white);

  background-color: var(--brand-color, #0086e5);
  color: var(--light-color, #e0e0e0);
}
