[theme="black"],
[theme="black"] * {
  --color-theme-background: var(--color-black, black);
  --color-theme-foreground: var(--color-white, white);
  --color-theme-shaded-gray: var(--color-light-gray);
}

[theme="dark"],
[theme="dark"] * {
  --color-theme-background: var(--color-dark, black);
  --color-theme-foreground: var(--color-light, white);
  --color-theme-shaded-gray: var(--color-light-gray);
}

[theme="light"],
[theme="light"] * {
  --color-theme-background: var(--color-light, white);
  --color-theme-foreground: var(--color-dark, black);
  --color-theme-shaded-gray: var(--color-dark-gray);
}

[theme="white"],
[theme="white"] * {
  --color-theme-background: var(--color-white, white);
  --color-theme-foreground: var(--color-black, black);
  --color-theme-shaded-gray: var(--color-dark-gray);
}

[theme="black"],
[theme="black"] *,
[theme="dark"],
[theme="dark"] * {
  /* contrast correction */
  --color-blue: #2080f0;
  --color-gray: #8c8c8c;
  --color-primary: var(--color-blue);
  --color-secondary: var(--color-gray);
}

[theme="white"],
[theme="white"] *,
[theme="light"],
[theme="light"] * {
  /* contrast correction */
  --color-blue: #2060f0;
  --color-gray: #737373;
  --color-primary: var(--color-blue);
  --color-secondary: var(--color-gray);
}

[theme="black"],
[theme="dark"],
[theme="light"],
[theme="White"] {
  --color-button-primary: var(--color-theme-foreground);
  --color-button-secondary: var(--color-theme-background);
  background-color: var(--color-theme-background);
  color: var(--color-theme-foreground);
}
