[data-theme="light"],
[data-theme="light"] * {
  --color-primary: #2962ff;
  --color-primary-light: #768fff;
  --color-primary-dark: #0039cb;
  --color-secondary: #673ab7;
  --color-secondary-light: #9a67ea;
  --color-secondary-dark: #320b86;
  --color-error: #b00020;

  --color-background: #ffffff;
  --color-surface-1dp: #f2f4f5;
  --color-surface-2dp: #edeff2;
  --color-surface-3dp: #ebeef0;
  --color-surface-4dp: #e8ebee;
  --color-surface-6dp: #e3e7ea;
  --color-surface-8dp: #e0e4e8;
  --color-surface-12dp: #dbe0e4;
  --color-surface-16dp: #d9dee3;
  --color-surface-24dp: #d6dbe0;

  --color-on-primary: white;
  --color-on-primary-light: black;
  --color-on-primary-dark: white;
  --color-on-secondary: white;
  --color-on-secondary-light: black;
  --color-on-secondary-dark: white;
  --color-on-error: white;
  --color-on-background: black;
  --color-on-surface-high: #212121;
  --color-on-surface-medium: #666666;
  --color-on-surface-low: #9e9e9e;
}

[data-theme="dark"],
[data-theme="dark"] * {
  --color-primary: #448aff;
  --color-primary-light: #83b9ff;
  --color-primary-dark: #005ecb;
  --color-secondary: #9575cd;
  --color-secondary-light: #c7a4ff;
  --color-secondary-dark: #65499c;
  --color-error: #cf6679;

  --color-background: #121212;
  --color-surface-1dp: #1d1d1d;
  --color-surface-2dp: #222222;
  --color-surface-3dp: #252525;
  --color-surface-4dp: #272727;
  --color-surface-6dp: #2c2c2c;
  --color-surface-8dp: #2e2e2e;
  --color-surface-12dp: #323232;
  --color-surface-16dp: #353535;
  --color-surface-24dp: #383838;

  --color-on-primary: black;
  --color-on-primary-light: black;
  --color-on-primary-dark: white;
  --color-on-secondary: black;
  --color-on-secondary-light: black;
  --color-on-secondary-dark: white;
  --color-on-error: black;
  --color-on-background: white;
  --color-on-surface-high: #dedede;
  --color-on-surface-medium: #999999;
  --color-on-surface-low: #616161;
}

[data-theme="high-contrast"],
[data-theme="high-contrast"] * {
  --color-primary: #2979ff;
  --color-primary-light: #75a7ff;
  --color-primary-dark: #004ecb;
  --color-secondary: #7e57c2;
  --color-secondary-light: #b085f5;
  --color-secondary-dark: #4d2c91;
  --color-error: #b00020;

  --color-background: black;
  --color-surface-1dp: #0d0d0d;
  --color-surface-2dp: #121212;
  --color-surface-3dp: #141414;
  --color-surface-4dp: #171717;
  --color-surface-6dp: #1c1c1c;
  --color-surface-8dp: #1f1f1f;
  --color-surface-12dp: #242424;
  --color-surface-16dp: #262626;
  --color-surface-24dp: #292929;

  --color-on-primary: black;
  --color-on-primary-light: black;
  --color-on-primary-dark: white;
  --color-on-secondary: white;
  --color-on-secondary-light: black;
  --color-on-secondary-dark: white;
  --color-on-error: white;
  --color-on-background: white;
  --color-on-surface-high: white;
  --color-on-surface-medium: #dedede;
  --color-on-surface-low: #999999;
}

[data-theme="light"],
[data-theme="dark"],
[data-theme="high-contrast"] {
  background-color: var(--color-background);
  color: var(--color-on-surface-high, inherit);
}
