body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Poppins", "Roboto", "Helvetica", "Arial", sans-serif;
  font-family: var(--font-family-base);
  font-size: var(--font-size-base, 1rem);
  font-weight: var(--font-weight-base, 400);
  line-height: var(--line-height-base, 1.5);
  color: var(--color-body-text, black);
}

a {
  color: var(--color-link, inherit);
  text-decoration: none;
  border-bottom: solid 1px transparent;
  transition: border 0.2s;
}

a:visited {
  color: var(--color-link, inherit);
}

a:hover {
  border-bottom: solid 1px var(--color-link-decoration);
}

b,
strong {
  font-weight: 500;
}

p {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.h1, h1,
.h2, h2,
.h3, h3,
.h4, h4,
.h5, h5,
.h6, h6 {
  font-family: inherit;
  font-weight: 600;
  line-height: 1.2;
  margin-top: 0.25rem;
  margin-bottom: 0.5rem;
  color: var(--color-headline-text, inherit);
}

.h1, h1 { font-size: 2.5rem; }
.h2, h2 { font-size: 2.25rem; }
.h3, h3 { font-size: 2.0rem; }
.h4, h4 { font-size: 1.75rem; }
.h5, h5 { font-size: 1.5rem; }
.h6, h6 { font-size: 1.25rem; }

.body-xxxl,
.body-xxl,
.body-xl,
.body-lg,
.body-md,
.body-sm,
.body-xs,
.body-xxs,
.body-xxxs {
  font-family: inherit;
  font-weight: 400;
  line-height: 1.5;
  color: inherit;
}

.body-xxxl { font-size: 1.5rem; }
.body-xxl { font-size: 1.375rem; }
.body-xl { font-size: 1.25rem; }
.body-lg { font-size: 1.125rem; }
.body-md { font-size: 1.0rem; }
.body-sm { font-size: 0.875rem; }
.body-xs { font-size: 0.75rem; }
.body-xxs { font-size: 0.625rem; }
.body-xxxs { font-size: 0.5rem; }

@media (min-width: 768px) {
  .responsive { font-size: 1.125rem; }

  .h1.responsive, h1.responsive { font-size: 2.75rem; }
  .h2.responsive, h2.responsive { font-size: 2.5rem; }
  .h3.responsive, h3.responsive { font-size: 2.25rem; }
  .h4.responsive, h4.responsive { font-size: 2.0rem; }
  .h5.responsive, h5.responsive { font-size: 1.75rem; }
  .h6,.responsive h6.responsive { font-size: 1.5rem; }

  .body-xxxl.responsive { font-size: 1.625rem; }
  .body-xxl.responsive { font-size: 1.5rem; }
  .body-xl.responsive { font-size: 1.375rem; }
  .body-lg.responsive { font-size: 1.25rem; }
  .body-md.responsive { font-size: 1.125rem; }
  .body-sm.responsive { font-size: 1.0rem; }
  .body-xs.responsive { font-size: 0.875rem; }
  .body-xxs.responsive { font-size: 0.75rem; }
  .body-xxxs.responsive { font-size: 0.625rem; }
}

@media (min-width: 1366px) {
  .responsive { font-size: 1.25rem; }

  .h1.responsive, h1.responsive { font-size: 3.0rem; }
  .h2.responsive, h2.responsive { font-size: 2.75rem; }
  .h3.responsive, h3.responsive { font-size: 2.5rem; }
  .h4.responsive, h4.responsive { font-size: 2.25rem; }
  .h5.responsive, h5.responsive { font-size: 2.0rem; }
  .h6.responsive, h6.responsive { font-size: 1.75rem; }

  .body-xxxl.responsive { font-size: 1.75rem; }
  .body-xxl.responsive { font-size: 1.625rem; }
  .body-xl.responsive { font-size: 1.5rem; }
  .body-lg.responsive { font-size: 1.375rem; }
  .body-md.responsive { font-size: 1.25rem; }
  .body-sm.responsive { font-size: 1.125rem; }
  .body-xs.responsive { font-size: 1.0rem; }
  .body-xxs.responsive { font-size: 0.875rem; }
  .body-xxxs.responsive { font-size: 0.75rem; }
}
