:root {
  --spacing-unit: 8px;
}

:root {
  --color-white: white;
  --color-black: black;
  --color-light: #f1f2f3;
  --color-dark: #090c0f;
  --color-gray: #6e7687;
  --color-light-gray: #a8adb7;
  --color-dark-gray: #424751;
  --color-red: #e83030;
  --color-orange: #e87d30;
  --color-yellow: #e8ba30;
  --color-lime: #6ee830;
  --color-green: #30e84f;
  --color-teal: #30e8ba;
  --color-cyan: #30bae8;
  --color-blue: #2070f0;
  --color-indigo: #4030e8;
  --color-purple: #8c30e8;
  --color-pink: #e830c9;
  --color-rose: #e8306e;
}

:root {
  --color-primary: var(--color-blue);
  --color-secondary: var(--color-gray);
  --color-success: var(--color-green);
  --color-danger: var(--color-red);
  --color-warning: var(--color-yellow);
  --color-info: var(--color-cyan);
  --color-theme-background: var(--color-light);
  --color-theme-foreground: var(--color-dark);
}
