:root {
  --spacing-unit: 8px;
}

:root {
  --color-white: white;
  --color-black: black;
  --color-light: #f1f2f3;
  --color-dark: #090c0f;
  --color-gray: #707680;
  --color-gray-light: #d4d6d9;
  --color-gray-dark: #222326;
  --color-red: #f02030;
  --color-orange: #f06c20;
  --color-yellow: #f0c020;
  --color-green: #10c020;
  --color-teal: #20f0a0;
  --color-cyan: #20d0f0;
  --color-blue: #2070f0;
  --color-indigo: #4030f0;
  --color-purple: #8020f0;
  --color-pink: #f04080;
}

:root {
  --color-primary: var(--color-blue);
  --color-secondary: var(--color-gray);
  --color-success: var(--color-green);
  --color-danger: var(--color-red);
  --color-warning: var(--color-yellow);
  --color-info: var(--color-cyan);
  --color-theme-background: var(--color-light);
  --color-theme-foreground: var(--color-dark);
}
