.row {
  display: flex;
  flex-wrap: wrap;
  margin-left: -8px;
  margin-right: -8px;
  padding-top: 8px;
  padding-bottom: 8px;
}

.col,
.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12 {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-left: 8px;
  padding-right: 8px;
}

.col-1 {
  flex: 0 0 8.333333%;
  max-width: 8.333333%;
}

.col-2 {
  flex: 0 0 16.666667%;
  max-width: 16.666667%;
}

.col-3 {
  flex: 0 0 25%;
  max-width: 25%;
}

.col-4 {
  flex: 0 0 33.333333%;
  max-width: 33.333333%;
}

.col-5 {
  flex: 0 0 41.666667%;
  max-width: 41.666667%;
}

.col-6 {
  flex: 0 0 50%;
  max-width: 50%;
}

.col-7 {
  flex: 0 0 58.333333%;
  max-width: 58.333333%;
}

.col-8 {
  flex: 0 0 66.666667%;
  max-width: 66.666667%;
}

.col-9 {
  flex: 0 0 75%;
  max-width: 75%;
}

.col-10 {
  flex: 0 0 83.333333%;
  max-width: 83.333333%;
}

.col-11 {
  flex: 0 0 91.666667%;
  max-width: 91.666667%;
}

.col-12 {
  flex: 0 0 100%;
  max-width: 100%;
}

.row.gutter-none {
  margin-left: 0;
  margin-right: 0;
  padding-top: 0;
  padding-bottom: 0;
}

.row.gutter-sm {
  margin-left: -4px;
  margin-right: -4px;
  padding-top: 4px;
  padding-bottom: 4px;
}

.row.gutter-md {
  margin-left: -8px;
  margin-right: -8px;
  padding-top: 8px;
  padding-bottom: 8px;
}

.row.gutter-lg {
  margin-left: -16px;
  margin-right: -16px;
  padding-top: 16px;
  padding-bottom: 16px;
}

.row.gutter-none > .col,
.row.gutter-none > .col-1,
.row.gutter-none > .col-2,
.row.gutter-none > .col-3,
.row.gutter-none > .col-4,
.row.gutter-none > .col-5,
.row.gutter-none > .col-6,
.row.gutter-none > .col-7,
.row.gutter-none > .col-8,
.row.gutter-none > .col-9,
.row.gutter-none > .col-10,
.row.gutter-none > .col-11,
.row.gutter-none > .col-12 {
  padding-left: 0;
  padding-right: 0;
}

.row.gutter-sm > .col,
.row.gutter-sm > .col-1,
.row.gutter-sm > .col-2,
.row.gutter-sm > .col-3,
.row.gutter-sm > .col-4,
.row.gutter-sm > .col-5,
.row.gutter-sm > .col-6,
.row.gutter-sm > .col-7,
.row.gutter-sm > .col-8,
.row.gutter-sm > .col-9,
.row.gutter-sm > .col-10,
.row.gutter-sm > .col-11,
.row.gutter-sm > .col-12 {
  padding-left: 4px;
  padding-right: 4px;
}

.row.gutter-md > .col,
.row.gutter-md > .col-1,
.row.gutter-md > .col-2,
.row.gutter-md > .col-3,
.row.gutter-md > .col-4,
.row.gutter-md > .col-5,
.row.gutter-md > .col-6,
.row.gutter-md > .col-7,
.row.gutter-md > .col-8,
.row.gutter-md > .col-9,
.row.gutter-md > .col-10,
.row.gutter-md > .col-11,
.row.gutter-md > .col-12 {
  padding-left: 8px;
  padding-right: 8px;
}

.row.gutter-lg > .col,
.row.gutter-lg > .col-1,
.row.gutter-lg > .col-2,
.row.gutter-lg > .col-3,
.row.gutter-lg > .col-4,
.row.gutter-lg > .col-5,
.row.gutter-lg > .col-6,
.row.gutter-lg > .col-7,
.row.gutter-lg > .col-8,
.row.gutter-lg > .col-9,
.row.gutter-lg > .col-10,
.row.gutter-lg > .col-11,
.row.gutter-lg > .col-12 {
  padding-left: 16px;
  padding-right: 16px;
}
