.page {
  display: block;
  position: relative;
  padding-left: 32px;
  padding-right: 32px;
  padding-top: 32px;
  padding-bottom: 32px;
  margin: 32px auto;
}

.js-parallax .page {
  transform-style: preserve-3d;
}
