.page {
  display: block;
  position: relative;
  min-height: calc(100vh - 12vh - 24vh);
  padding-top: 32px;
  padding-bottom: 32px;
  margin: 0 auto;
}

.js-parallax .page {
  transform-style: preserve-3d;
}
