.split-cover {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100vw;
  min-height: 100vh;
}

.split-cover::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  pointer-events: none;
  background-attachment: fixed;
}

.split-cover > section {
  width: 50%;
  height: 100%;
  z-index: 5;
}
